<template>
  <v-dialog v-model="dialog" persistent :max-width="maxWidth || 500">
    <template v-slot:activator="{ on }">
      <slot name="button" v-bind:on="on"></slot>
    </template>
    <v-card>
      <v-card-title class="headline">{{title}}</v-card-title>
      <slot name="content"></slot>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="gray" text :disabled="loading" @click="hide()">{{cancelTitle}}</v-btn>
        <v-btn :color="okVariant" text :loading="loading" @click="ok()">{{okTitle}}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    okTitle: String,
    cancelTitle: String,
    title: String,
    okVariant: String,
    maxWidth: Number,
    loading: Boolean
  },
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    ok () {
      this.$emit('ok')
    },
    hide () {
      this.dialog = false
      this.$emit('hide')
    }
  }

}
</script>
