<template>
  <v-data-table
    :headers="headers"
    :items="filteredItems"
    :items-per-page="5"
    class="elevation-1"
    :loading="loading"
    :show-expand="expandable"
    single-expand
    item-key="uuid"
    @item-expanded="triggerEvent('expand', $event)"
    expand-icon="mdi-eye"
    :page.sync="page"
  >
    <template v-slot:item.action="{ item }">
      <slot name="actions" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.nbStars="{ item }">
      <slot name="rating" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.childUser="{ item }">
      <slot name="user" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.datetime="{ item }">
      <slot name="date" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.childStore="{ item }">
      <slot name="shop" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.endDate="{ item }">
      <slot name="endDate" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.startDate="{ item }">
      <slot name="startDate" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.childProduct.childCategory="{ item }">
      <slot name="category" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.quantity="{ item }">
      <slot name="stock" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:item.image="{ item }">
      <slot name="image" v-bind:item="item">
      </slot>
    </template>
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length" class="p-2 px-0" >
        <slot :colspan="headers.length" name="expandable-row" v-bind:item="item">
        </slot>
      </td>
    </template>
    <template v-slot:top>
      <v-row
        align="center"
      >
        <v-col cols="6" md="8" lg="10">
          <div
            class="align-center mx-2 d-flex"
          >
            <v-text-field
              v-model="filterName"
              :label="$t('search')"
              :disabled="loading"
            >
              <v-icon slot="append">mdi-magnify</v-icon>
            </v-text-field>
          </div>
        </v-col>
      </v-row>
      <v-row
        align="center"
      >
        <v-col
          v-for="(filter, index) in filteredFilters"
          :key="`${filter.headerValue}-${index}`"
          :cols="filter.cols || '12'"
          :md="filter.md || (filter.type === 'Boolean' || filter.type === 'Rating' ? '4' : '6')"
          :lg="filter.lg || '4'"
        >
          <div
            class="align-center mx-2 d-flex"
            v-if="filter.type === 'RangeNumber'"
          >
            <v-range-slider
              v-model="filter.startRange"
              :max="filter.max"
              :min="filter.min"
              hide-details
              :disabled="loading"
              thumb-label
            >
              <template v-slot:prepend>
                <span class="mr-2">{{`${filter.headerText} :`}}</span>
                <v-text-field
                  v-model="filter.startRange[0]"
                  class="mt-0 pt-0"
                  hide-details
                  single-line
                  type="number"
                  style="width: 45px"
                ></v-text-field>
              </template>
              <template v-slot:append>
                <v-text-field
                  v-model="filter.startRange[1]"
                  class="mt-0 pt-0"
                  hide-details
                  single-line
                  type="number"
                  style="width: 45px"
                  @input="changeRange($event, filter)"
                ></v-text-field>
              </template>
            </v-range-slider>
          </div>
          <div
            class="align-center mx-2 d-flex"
            v-else-if="filter.type === 'DateRange'"
          >
            <span class="mr-2">{{`${filter.headerText} :`}}</span>
            <v-dialog
              :ref="`modalDate-${index}`"
              v-model="filter.modal"
              :return-value.sync="filter.dates"
              persistent
              width="290"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="filter.dates"
                  :label="filter.headerText"
                  readonly
                  :disabled="loading"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="filter.dates" scrollable range>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="filter.modal = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs[`modalDate-${index}`][0].save(filter.dates)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
            <v-icon
              @click="filter.dates = []"
              :disabled="loading"
            >
              mdi-close
            </v-icon>
          </div>
          <div
            class="align-center mx-2 d-flex"
            v-else-if="filter.type === 'Boolean'"
          >
            <v-checkbox
              v-model="filter.bool"
              :label="filter.headerText"
              :disabled="loading"
            ></v-checkbox>
          </div>
          <div
            class="align-center mx-2 d-flex"
            v-else-if="filter.type === 'Rating'"
          >
            <span class="mr-2">{{`${filter.headerText} :`}}</span>
            <v-rating
              v-model="filter.value"
              hover
              dense
              clearable
              :readonly="loading"
            ></v-rating>
          </div>
          <div
            class="align-center mx-2 d-flex"
            v-else-if="filter.type === 'Select'"
          >
            <v-autocomplete
              hide-details
              :items="filter.options"
              :label="filter.headerText"
              dense
              outlined
              :disabled="loading || filter.loading"
              v-model="filter.selected"
              clearable
              @change="triggerEvent(filter.eventTriggerName, $event)"
            >
            </v-autocomplete>
          </div>
        </v-col>
      </v-row>
      <slot name="onTop" v-bind:items="items">
      </slot>
      <v-divider
        class="mx-4 my-4"
        style="border-width: 1px"
      ></v-divider>
    </template>
  </v-data-table>
</template>

<script>
/* eslint-disable no-eval */
import moment from 'moment'
export default {
  props: {
    filters: {
      type: Array,
      // params cols md and lg are optionals for all filters, it defines the size responsive based on grid layout
      validator: (prop) => prop.every(e => {
        if (e.type !== 'DateRange' && e.type !== 'Select' && e.type !== 'Rating' && e.type !== 'RangeNumber' && e.type !== 'Boolean') {
          return false
        }
        switch (e.type) {
          case 'DateRange':
            return (e.dates && Array.isArray(e.dates) &&
              typeof e.headerValue === 'string' &&
              typeof e.headerText === 'string'
            )
          case 'Select':
            return (e.options && Array.isArray(e.options) && // can be strings or object as {text: ....., value: .....}
              typeof e.headerValue === 'string' &&
              typeof e.headerText === 'string'
            )
          case 'Boolean':
            return (typeof e.bool === 'boolean' &&
              typeof e.headerValue === 'string' &&
              typeof e.headerText === 'string'
            )
          case 'Rating':
            return (typeof e.value === 'number' &&
              typeof e.headerValue === 'string' &&
              typeof e.headerText === 'string'
            )
          case 'RangeNumber':
            return (typeof e.min === 'number' &&
              typeof e.max === 'number' && e.max >= e.min &&
              typeof e.headerValue === 'string' &&
              typeof e.headerText === 'string'
            )
        }
      }),
      default: function () {
        return []
      }
    },
    loading: {
      type: Boolean,
      default: false
    },
    headers: {
      type: Array,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    expandable: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      filterName: '',
      page: 1
    }
  },
  computed: {
    filteredFilters () {
      return this.filters.filter(filter => {
        if (filter.dependsOn) {
          let itemFound = this.filters.find(element => filter.dependsOn === element.headerValue)
          if (!itemFound.selected) {
            filter.selected = null
            return false
          }
        }
        return true
      })
    },
    filteredItems () {
      return this.items.filter(item => {
        if (this.loading) {
          return false
        }
        let valid = false
        this.headers.forEach(header => {
          if (header.filterable !== false && eval(this.getNestedValue(item, header.value)).toString().toLowerCase().includes(this.filterName.toString().toLowerCase())) {
            valid = true
          }
        })
        try {
          this.filters.forEach(filter => {
            switch (filter.type) {
              case 'DateRange':
                if (filter.dates && filter.dates[0] && filter.dates[1] && !(moment(eval(this.getNestedValue(item, filter.headerValue))).format('x') >= moment(filter.dates[0]).format('x') && moment(eval(this.getNestedValue(item, filter.headerValue))).format('x') <= moment(filter.dates[1]).format('x'))) {
                  throw new Error(`value ${filter.headerValue} of ${item.name} not between ${filter.dates[0]} and ${filter.dates[0]}`)
                }
                break
              case 'Select':
                if (filter.selected && filter.selected !== eval(this.getNestedValue(item, filter.headerValue)).uuid) {
                  throw new Error(`boolean of item ${item.name} is ${filter.headerValue}`)
                }
                break
              case 'Boolean':
                if (filter.bool && !eval(this.getNestedValue(item, filter.headerValue))) {
                  throw new Error(`boolean of item ${item.name} is ${filter.bool}`)
                }
                break
              case 'Rating':
                if (filter.value && filter.value !== eval(this.getNestedValue(item, filter.headerValue))) {
                  throw new Error(`boolean of item ${item.name} is ${filter.value}`)
                }
                break
              case 'RangeNumber':
                if (!(eval(this.getNestedValue(item, filter.headerValue)) >= filter.startRange[0] && eval(this.getNestedValue(item, filter.headerValue)) <= filter.startRange[1])) {
                  throw new Error(`value ${filter.headerValue} of ${item.name} not between ${filter.startRange[0]} and ${filter.startRange[1]}`)
                }
                break
            }
          })
        } catch (error) {
          return false
        }
        return valid
      })
    }
  },
  methods: {
    triggerEvent (eventName, value) {
      this.$emit(eventName, value)
    },
    getNestedValue (item, value) {
      let properties = value.split('.')
      let itemToEval = 'item'
      properties.forEach(element => {
        itemToEval += `['${element}']`
      })
      return itemToEval
    },
    changeRange (value, filter) {
      if (value > filter.max) {
        filter.max = Number(value, 10)
      }
    },
    clearAll () {
      this.filterName = ''
      this.filters.forEach(filter => {
        switch (filter.type) {
          case 'DateRange':
            if (filter.dates && filter.dates.length > 0) {
              filter.dates = []
            }
            break
          case 'Select':
            if (filter.selected) {
              filter.selected = null
            }
            break
          case 'Boolean':
            if (filter.bool) {
              filter.bool = false
            }
            break
          case 'Rating':
            if (filter.value > 0) {
              filter.value = 0
            }
            break
          case 'RangeNumber':
            if (filter.startRange && filter.startRange.length > 0) {
              filter.startRange = [filter.min, filter.max]
            }
            break
        }
      })
    }
  }
}
</script>
