<template>
  <div>
    <v-btn
      fixed
      dark
      fab
      right
      bottom
      color="primary"
      v-if="$vuetify.breakpoint.name === 'sm' || $vuetify.breakpoint.name === 'xs' && !open"
      @click="open = !open"
      class="mb-10"
    >
      <v-icon>mdi-tune</v-icon>
    </v-btn>
    <v-navigation-drawer
      v-model="open"
      right
      clipped
      fixed
      :permanent="$vuetify.breakpoint.name !== 'sm' && $vuetify.breakpoint.name !== 'xs'"
      style="z-index: 2; margin-top:80px; padding-bottom: 100px;"
      :width="$vuetify.breakpoint.name === 'sm' || $vuetify.breakpoint.name === 'xs' ? 250 : 350"
    >
      <div class="pa-5">
        <h2>
          {{$t('filterBy')}}
        </h2>
        <v-text-field
          v-model="search"
          :label="$t('Search')"
        >
          <v-icon slot="append">mdi-magnify</v-icon>
        </v-text-field>
        <span style="font-weight: bold">{{`${$t('rating')}s`}}</span>
        <div>
          <v-rating
            dense
            half-increments
            clearable
            hover
            v-model="minimalRating"
            class="pl-2 pt-2"
            style="display: inline-block"
          />
          <span> {{`& ${$t('more')}`}} </span>
        </div>
        <v-divider
          class="my-4"
          style="border-width: 1px; text-align:center; margin: auto;"
          width="50%"
        ></v-divider>
        <span style="font-weight: bold">{{`${$t('Categories')}`}}</span>
        <v-autocomplete
          class="pl-2 pt-2"
          hide-details
          :items="categories"
          :label="$t('category')"
          dense
          outlined
          v-model="selectedCategory"
          clearable
        >
        </v-autocomplete>
        <v-divider
          class="my-4"
          style="border-width: 1px; text-align:center; margin: auto;"
          width="50%"
        ></v-divider>
        <span style="font-weight: bold">{{`${$t('price')}`}}</span>
        <v-text-field
          class="pl-2 mt-2"
          label="Minimum"
          hide-details
          v-model="minimalPrice"
          type="number"
          suffix="€"
        />
        <v-text-field
          class="pl-2 mt-4"
          label="Maximum"
          v-model="maximalPrice"
          hide-details
          type="number"
          suffix="€"
        />
        <v-divider
          class="my-4"
          style="border-width: 1px; text-align:center; margin: auto;"
          width="50%"
        ></v-divider>
        <span style="font-weight: bold">{{`${$t('discount')}`}}</span>
        <v-checkbox v-model="goodDeals" class="mx-2" :label="$t('goodDeals')"></v-checkbox>
        <v-divider
          class="my-6"
          style="border-width: 1px; padding: 0px"
        ></v-divider>
        <h2>
          {{$t('sortBy')}}
        </h2>
        <v-radio-group v-model="sortBy" :mandatory="false">
          <v-radio :label="`${$t('price')} (${$t('ascending')})`" value="price-ascending"></v-radio>
          <v-radio :label="`${$t('price')} (${$t('descending')})`" value="price-descending"></v-radio>
          <v-radio :label="`${$t('rating')} (${$t('ascending')})`" value="rating-ascending"></v-radio>
          <v-radio :label="`${$t('rating')} (${$t('descending')})`" value="rating-descending"></v-radio>
        </v-radio-group>
      </div>
    </v-navigation-drawer>
    <v-row justify-md="start" align-content-md="start" :style="`margin-right:${$vuetify.breakpoint.name !== 'sm' && $vuetify.breakpoint.name !== 'xs' ? '350px' : '0px'}`">
      <v-col cols="12" md="4" lg="4" v-for="item in sortedProducts" :key="item.uuid">
        <v-card
          class="mx-auto"
          max-width="300"
          @click="clickedCard(item)"
        >
          <div class="ribbon ribbon-top-left lg" v-if="item.childDiscount"><span>PROMO</span></div>
          <v-img
            class="align-end"
            height="200px"
            :src="`data:image/png;base64, ${item.image}`"
          />
          <v-card-title>{{item.name}}</v-card-title>
          <v-rating v-if="item.ratingAverage !== undefined || item.ratingAverage !== null" v-model="item.ratingAverage" readonly hover dense half-increments>
          </v-rating>
          <v-row>
            <v-card-text class="text--primary">
              <v-row>
                <v-col cols="12" class="pl-4 py-2">
                  <p>{{item.description}} </p>
                </v-col>
              </v-row>
              <v-row
                class="card-product"
              >
                <v-col  cols="12" class="priceCol lg py-2">
                  <span :class="{notTotal: item.childDiscount ? true : false}">
                    {{`${item.price}€`}}
                  </span>
                  <span class="promo" v-if="item.childDiscount">
                    {{`-${item.childDiscount.percentage}%`}}
                  </span>
                  <span v-if="item.childDiscount">
                    {{`${((item.price * (100-item.childDiscount.percentage))/100)}€`}}
                  </span>
                </v-col>
              </v-row>
            </v-card-text>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <div class="text-center pt-5">
      <v-pagination
        v-model="page"
        :length="Math.ceil(totalItems/perPage)"
        v-if="totalItems > perPage"
        :total-visible="7"
      ></v-pagination>
    </div>
  </div>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import TableTemplate from '@/components/templates/Table_Template'
import categoryService from '@/services/CategoryService'
import productService from '@/services/ProductService'
import commentService from '@/services/CommentService'
import discountService from '@/services/DiscountService'
import moment from 'moment'

export default {
  components: {
    TableTemplate,
    customDialog
  },
  watch: {
    totalItems (newLength) {
      if (this.page > 1 && newLength < (((this.page - 1) * this.perPage) + 1)) {
        this.page = Math.ceil(newLength / this.perPage)
      }
    }
  },
  computed: {
    filteredProducts () {
      return this.products.filter(product => {
        if (this.minimalRating) {
          if (product.ratingAverage < this.minimalRating) {
            return false
          }
        }
        if (this.maximalPrice) {
          if (product.price > this.maximalPrice) {
            return false
          }
        }
        if (this.minimalPrice) {
          if (product.price < this.minimalPrice) {
            return false
          }
        }
        if (this.selectedCategory) {
          if (this.selectedCategory !== product.categoryUuid) {
            return false
          }
        }
        if (this.goodDeals) {
          if (!product.childDiscount) {
            return false
          }
        }
        if (product.name.toString().toLowerCase().includes(this.search.toString().toLowerCase()) || product.description.toString().toLowerCase().includes(this.search.toString().toLowerCase())) {
          return true
        }
      })
    },
    sortedProducts () {
      let filteredProductsCopy = this.filteredProducts
      if (this.sortBy) {
        switch (this.sortBy) {
          case 'price-ascending':
            return filteredProductsCopy.sort(
              function (a, b) {
                return a.price < b.price ? -1 : a.price > b.price ? 1 : 0
              }).slice((this.perPage * (this.page - 1)), (this.perPage * this.page))
          case 'price-descending':
            return filteredProductsCopy.sort(
              function (a, b) {
                return a.price > b.price ? -1 : a.price < b.price ? 1 : 0
              }).slice((this.perPage * (this.page - 1)), (this.perPage * this.page))
          case 'rating-ascending':
            return filteredProductsCopy.sort(
              function (a, b) {
                return a.ratingAverage < b.ratingAverage ? -1 : a.ratingAverage > b.ratingAverage ? 1 : 0
              }).slice((this.perPage * (this.page - 1)), (this.perPage * this.page))
          case 'rating-descending':
            return filteredProductsCopy.sort(
              function (a, b) {
                return a.ratingAverage > b.ratingAverage ? -1 : a.ratingAverage < b.ratingAverage ? 1 : 0
              }).slice((this.perPage * (this.page - 1)), (this.perPage * this.page))
        }
      } else {
        return filteredProductsCopy.slice((this.perPage * (this.page - 1)), (this.perPage * this.page))
      }
    },
    totalItems () {
      return this.filteredProducts.length
    }
  },
  data () {
    return {
      minimalRating: 0,
      maximalPrice: 999,
      goodDeals: false,
      minimalPrice: 0,
      open: false,
      selectedCategory: null,
      loadingTable: false,
      sortBy: null,
      categories: [],
      search: '',
      products: [],
      perPage: 9,
      page: 1
    }
  },
  async mounted () {
    this.loadingTable = true
    this.editedItem = this.baseEditedItem
    this.getCategories()
    this.getDiscount()
    this.getProduct()
  },
  methods: {
    async getDiscount () {
      this.loadingTable = true
      try {
        let response = await discountService.index()
        response.data.forEach(element => {
          if ((moment(element.startDate).format('x') - moment().format('x')) < 0 && (moment(element.endDate).format('x') - moment().format('x')) > 0) {
            element.reductedPrice = element.childProduct.price * (1 - (element.percentage / 100))
            let productFound = this.products.find(product => product.uuid === element.productUuid)
            productFound.reductedPrice = element.reductedPrice
            productFound.childDiscount = element
          }
        })
        this.loadingTable = false
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    },
    async getProduct () {
      this.loadingTable = true
      try {
        let response = await productService.index()
        response.data.forEach(element => {
          element.totalRating = 0
          element.numberComments = 0
          element.ratingAverage = null
          if (element.image === '') {
            element.image = null
          }
        })
        this.products = response.data
        await this.getComment()
        this.loadingTable = false
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    },
    async getComment () {
      this.loadingTable = true
      try {
        let response = await commentService.index()
        response.data.forEach(element => {
          let productFound = this.products.find(product => product.uuid === element.productUuid)
          if (productFound) {
            productFound.totalRating += element.nbStars
            productFound.numberComments += 1
            productFound.ratingAverage = productFound.totalRating / productFound.numberComments
          }
        })
        this.$forceUpdate()
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    },
    async getCategories () {
      try {
        let resCategories = await categoryService.index()
        this.categories = resCategories.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
      } catch (error) {
        console.error(error)
      }
    },
    clickedCard (product) {
      this.$router.push({name: 'productDetail', params: {productId: product.uuid}})
    }
  }
}
</script>
