<template>
  <table-template
    :filters="filtersData"
    :loading="loadingTable"
    :headers="headers"
    :items="items"
    @setCategory="filterProducts"
  >
    <template v-slot:rating="{item}">
      <v-rating
      v-model="item.nbStars"
      background-color="blue lighten-3"
      color="blue"
      small
      dense
      readonly
    ></v-rating>
    </template>
    <template v-slot:user="{item}">
      {{`${item.childUser.firstname} ${item.childUser.lastname}`}}
    </template>
    <template v-slot:date="{item}">
      {{item.datetime | moment('YYYY-MM-DD')}}
    </template>
    <template v-slot:category="{item}">
      {{item.childProduct.childCategory.name}}
    </template>
    <template v-slot:actions="{item}">
      <!-- item.action referenced to header column -->
      <custom-dialog
        :okTitle="$t('delete')"
        :cancelTitle="$t('cancel')"
        :title="$t('deleteComment', {'product': item.childProduct.name, 'user': `${item.childUser.firstname} ${item.childUser.lastname}`})"
        okVariant="error"
        @ok="deleteItem(item)"
        :ref="`deleteModal-${item.uuid}`"
        :max-width="900"
        :loading="loadingDelete"
      >
        <template v-slot:button="{on}">
          <v-icon v-on="on" small color="error">mdi-delete</v-icon>
        </template>
        <template v-slot:content>
          <v-card-text>
            {{$t('deleteConfirm')}}
          </v-card-text>
        </template>
      </custom-dialog>
    </template>
  </table-template>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import TableTemplate from '@/components/templates/Table_Template'
import categoryService from '@/services/CategoryService'
import commentService from '@/services/CommentService'
import productService from '@/services/ProductService'

export default {
  components: {
    TableTemplate,
    customDialog
  },
  data () {
    return {
      loadingTable: false,
      loadingDelete: false,
      selectedItem: null,
      filtersData: [
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childProduct.childCategory',
          headerText: this.$t('category'),
          loading: false,
          eventTriggerName: 'setCategory'
        },
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childProduct',
          headerText: this.$t('product'),
          dependsOn: 'childProduct.childCategory',
          loading: false,
          eventTriggerName: 'setProduct'
        },
        {
          type: 'Rating',
          value: 0,
          headerValue: 'nbStars',
          headerText: 'Note'
        },
        {
          type: 'DateRange',
          dates: [],
          modal: false,
          headerValue: 'datetime',
          headerText: 'date'
        }
      ],
      headers: [
        {
          text: 'Note',
          align: 'left',
          value: 'nbStars'
        },
        { text: this.$t('category'), value: 'childProduct.childCategory', align: 'left' },
        { text: this.$t('product'), value: 'childProduct.name', align: 'center' },
        { text: this.$t('user'), value: 'childUser', align: 'center' },
        { text: this.$t('Text'), value: 'text', align: 'center' },
        { text: 'Date', value: 'datetime', align: 'center' },
        { text: 'Actions', value: 'action', sortable: false, filterable: false, align: 'right' }
      ],
      items: []
    }
  },
  async mounted () {
    this.loadingTable = true
    this.getCategories()
    this.getComments()
  },
  methods: {
    async filterProducts (categoryUuid) {
      this.filtersData[0].loading = true
      this.filtersData[1].loading = true
      this.filtersData[1].hide = false
      try {
        let resProducts = await productService.indexByCategory(categoryUuid)
        this.filtersData[1].options = resProducts.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
        this.filtersData[0].loading = false
        this.filtersData[1].loading = false
      } catch (error) {
        console.error(error)
        this.filtersData[1].show = false
        this.filtersData[0].loading = false
        this.filtersData[1].loading = false
      }
    },
    async getCategories () {
      try {
        let resCategories = await categoryService.index()
        this.filtersData[0].options = resCategories.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
      } catch (error) {
        console.error(error)
      }
    },
    async getComments () {
      this.loadingTable = true
      try {
        let response = await commentService.index()
        this.items = response.data
        this.loadingTable = false
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    },
    async deleteItem (item) {
      this.loadingDelete = true
      try {
        await commentService.delete(item.uuid)
        const index = this.items.indexOf(item)
        this.items.splice(index, 1)
        this.$refs[`deleteModal-${item.uuid}`].hide()
        this.$notify({
          group: 'all',
          title: this.$t('deleteSuccess'),
          text: `${this.$t('deleteComment', {'product': item.childProduct.name, 'user': `${item.childUser.firstname} ${item.childUser.lastname}`})}`,
          type: 'notifySuccess'
        })
        this.loadingDelete = false
      } catch (error) {
        console.error(error)
        this.$refs[`deleteModal-${item.uuid}`].hide()
        this.$notify({
          group: 'all',
          title: this.$t('error'),
          text: `${error.response.status} ${this.$t('deleteComment', {'product': item.childProduct.name, 'user': `${item.childUser.firstname} ${item.childUser.lastname}`})}`,
          type: 'notifyError'
        })
        this.loadingDelete = false
      }
    }
  }
}
</script>
