<template>
  <div>
    <h1 :class="`ma-${$vuetify.breakpoint.smAndDown ? '1' : '5'} pa-${$vuetify.breakpoint.smAndDown ? '1' : '5'}`" :style="`text-align: center; ${$vuetify.breakpoint.smAndDown ? 'font-size: 1.5em' : 'font-size: 2.5em'}`"> {{$t('homeTitle')}} </h1>
    <video-player
      class="video-player-box"
      ref="videoPlayer"
      :options="playerOptions"
      :playsinline="true"
      v-if="!$vuetify.breakpoint.smAndDown"
    >
    </video-player>
    <br/>
    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        :color="'primary'"
        :icon="'mdi-download'"
        fill-dot
        left
      >
        <v-card
          :color="'primary'"
          dark
          :max-width="500"
          :style="$vuetify.breakpoint.smAndDown ? '' : 'margin-left: auto;'"
        >
          <v-card-title class="title">{{`${$t('stepUc')} 1`}}</v-card-title>
          <v-card-text class="white text--primary pa-5">
            <p class="ma-0">{{$t('homeStep1')}}</p>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        :color="'primary'"
        :icon="'mdi-account'"
        fill-dot
        reverse
        right
      >
        <v-card
          :color="'primary'"
          dark
          :max-width="500"
        >
          <v-card-title class="title">{{`${$t('stepUc')} 2`}}</v-card-title>
          <v-card-text class="white text--primary pa-5">
            <p class="ma-0">{{`${$t('homeStep2')} ${($store.state.keycloak && $store.state.keycloak.token) ? '' : $t('homeStep2-1')}`}} </p>
            <v-btn
              color="primary"
              :to="'/login'"
              v-if="!($store.state.keycloak && $store.state.keycloak.token)"
            >
              {{$t('signin')}}
            </v-btn>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        :color="'primary'"
        :icon="'mdi-credit-card'"
        fill-dot
        left
      >
        <v-card
          :color="'primary'"
          dark
          :max-width="500"
          :style="$vuetify.breakpoint.smAndDown ? '' : 'margin-left: auto;'"
        >
          <v-card-title class="title">{{`${$t('stepUc')} 3`}}</v-card-title>
          <v-card-text class="white text--primary pa-5">
            <p class="ma-0">{{$t('homeStep3')}}</p>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        :color="'primary'"
        :icon="'mdi-map-marker'"
        fill-dot
        reverse
        right
      >
        <v-card
          :color="'primary'"
          dark
          :max-width="500"
        >
          <v-card-title class="title">{{`${$t('stepUc')} 4`}}</v-card-title>
          <v-card-text class="white text--primary pa-5">
            <p class="ma-0">{{$t('homeStep4')}}</p>
            <v-icon
              light
            >
              mdi-map-marker
            </v-icon>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        :color="'primary'"
        :icon="'mdi-qrcode'"
        fill-dot
        left
      >
        <v-card
          :color="'primary'"
          dark
          :max-width="500"
          :style="$vuetify.breakpoint.smAndDown ? '' : 'margin-left: auto;'"
        >
          <v-card-title class="title">{{`${$t('stepUc')} 5`}}</v-card-title>
          <v-card-text class="white text--primary pa-5">
            <p class="ma-0">{{$t('homeStep5')}}</p>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        :color="'primary'"
        :icon="'mdi-store'"
        fill-dot
        right
      >
        <v-card
          :color="'primary'"
          dark
          :max-width="500"
        >
          <v-card-title class="title">{{`${$t('stepUc')} 6`}}</v-card-title>
          <v-card-text class="white text--primary pa-5">
            <p class="ma-0">{{$t('homeStep6')}}</p>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
    <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        :color="'primary'"
        :icon="'mdi-cart-outline'"
        fill-dot
        left
      >
        <v-card
          :color="'primary'"
          dark
          :max-width="500"
          :style="$vuetify.breakpoint.smAndDown ? '' : 'margin-left: auto;'"
        >
          <v-card-title class="title">{{`${$t('stepUc')} 7`}}</v-card-title>
          <v-card-text class="white text--primary pa-5">
            <p class="ma-0">{{$t('homeStep7')}}</p>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </div>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import TableTemplate from '@/components/templates/Table_Template'

export default {
  components: {
    TableTemplate,
    customDialog
  },
  data () {
    return {
      playerOptions: {
        muted: false,
        language: this.$i18n.locale(),
        responsive: true,
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [{
          type: 'video/mp4',
          src: this.$i18n.locale() === 'en' ? '/static/SUPGO-EN.mp4' : '/static/SUPGO.mp4'
        }]
      }
    }
  }
}
</script>
