<template>
  <v-layout
    class="text-center justify-center align-center"
  >
    <v-col xs12 sm8 md5 >
      <v-row>
        <v-col md=4>
          <v-card :loading="productLoading">
            <div class="ribbon ribbon-top-left lg" v-if="product.childDiscount"><span>PROMO</span></div>
            <v-img v-if="!productLoading" :src="`data:image/png;base64, ${product.image}`" aspect-ratio="1.5">
            </v-img>
          </v-card>
        </v-col>
        <v-col md=2 class="card-product">
          <v-row style="display: flex; flex-direction: column;" class="priceCol">
            <h1 style="align-self: flex-start"> {{product.name}} </h1>
            <span  class="pt-8" style="align-self: flex-start"> {{product.description}} </span>
            <h3 class="pt-8" style="align-self: flex-start">
              <span :class="{notTotal: product.childDiscount ? true : false}">
                {{`${product.price}€`}}
              </span>
              <span class="promo" v-if="product.childDiscount">
                {{`-${product.childDiscount.percentage}%`}}
              </span>
              <span v-if="product.childDiscount">
                {{`${((product.price * (100-product.childDiscount.percentage))/100)}€`}}
              </span>
            </h3>
            <v-row class="pt-7" style="align-items: center; width: 300px;">
              <v-rating
              readonly
              v-model='product.ratingAverage'
              half-increments
              style="display: inline-block;"
              ></v-rating>
              <small> {{comments.length}} {{ $t('eval') }}</small>
            </v-row>
          </v-row>
        </v-col>
      </v-row>
      <h2> {{ $t('comment') }}s</h2>
      <v-row >
        <!--Bottom - left part -->
        <v-col class="mt-10">
          <!--Ratings classment part -->
          <v-col md='5'>
            <v-row style="align-items: center;" class="my-2">
              <v-rating :value="5" dense readonly  style="display: inline-block;"></v-rating>
              <span style="" class="mx-2">
                {{nbComment5}}
              </span>
            </v-row>
            <v-row style="align-items: center;" class="my-2">
              <v-rating :value="4" dense readonly  style="display: inline-block;"></v-rating>
              <span style="" class="mx-2">
                {{nbComment4}}
              </span>
            </v-row>
            <v-row style="align-items: center;" class="my-2">
              <v-rating :value="3" dense readonly style="display: inline-block;" ></v-rating>
              <span style="" class="mx-2">
                {{nbComment3}}
              </span>
            </v-row>
            <v-row style="align-items: center;" class="my-2">
              <v-rating :value="2" dense readonly style="display: inline-block;" ></v-rating>
              <span style="" class="mx-2">
                {{nbComment2}}
              </span>
            </v-row>
            <v-row style="align-items: center;" class="my-2">
              <v-rating :value="1" dense readonly style="display: inline-block;" ></v-rating>
              <span style="" class="mx-2">
                {{nbComment1}}
              </span>
            </v-row>
            <v-row style="align-items: center;" class="my-2">
              <v-rating :value="0" dense readonly style="display: inline-block;" ></v-rating>
              <span style="" class="mx-2">
                {{nbComment0}}
              </span>
            </v-row>
          </v-col>
          <!--My comment part -->
          <div class="mt-10">
            <h3 class=""> {{ $t('myComment') }}</h3>
            <v-rating
            dense
            v-model='newComment.nbStars'
            hover
            ></v-rating>
            <v-textarea
              v-model='newComment.text'
            >
              <template v-slot:label>
                <div>
                  {{ $t('comment')}}
                </div>
              </template>
            </v-textarea>
            <v-btn color="primary" @click="addComment">{{ $t('send')}}</v-btn>
          </div>
        </v-col>
        <v-divider vertical class="mt-10"></v-divider>
        <!--Bottom - Right part -->
        <v-col class="mt-5">
          <div style="display: flex; justify-content: center; align-items: center;">
            <h4> {{ $t('filtering') }} : </h4>
            <v-rating v-model="selectedRate" clearable> </v-rating>
          </div>
          <v-divider> </v-divider>
          <v-row  v-for="item in slicedComments" :key="item.uuid" >
            <v-col v-if="!commentsLoading">
              <v-card max-width="400" class="mx-auto" style="display: flex; flex-direction: column">
                <div style="display: flex; justify-content: space-between;">
                  <div style="display: flex;">
                    <v-icon color="primary" class="pl-3 pt-1"> mdi-account </v-icon>
                    <h5 style="align-self: flex-start" class="pt-3 pl-3">{{item.childUser.lastname}} {{item.childUser.firstname}}</h5>
                  </div>
                  <v-rating class="pt-3 pr-3" dense v-model='item.nbStars' readonly></v-rating>
                </div>
                "{{item.text}}"
              </v-card>
            </v-col>
          </v-row>
          <div class="text-center pt-5">
            <v-pagination
              v-model="page"
              :length="Math.ceil(totalItems/perPage)"
              v-if="totalItems > perPage"
              :total-visible="7"
            ></v-pagination>
          </div>
        </v-col>
      </v-row>
    </v-col>
  </v-layout>
</template>

<script>
import customDialog from '@/components/templates/CustomDialog'
import productService from '@/services/ProductService'
import commentService from '@/services/CommentService'
import moment from 'moment'
import discountService from '@/services/DiscountService'

export default {
  layout: 'noStyle',
  components: {
    customDialog
  },
  watch: {
    totalItems (newLength) {
      if (this.page > 1 && newLength < (((this.page - 1) * this.perPage) + 1)) {
        this.page = Math.ceil(newLength / this.perPage)
      }
    }
  },
  computed: {
    slicedComments () {
      return this.filteredComments.slice((this.perPage * (this.page - 1)), (this.perPage * this.page))
    },
    totalItems () {
      return this.filteredComments.length
    },
    filteredComments () {
      return this.comments.filter(comment => {
        if (this.selectedRate) {
          if (comment.nbStars !== this.selectedRate) {
            return false
          }
        }
        return true
      })
    }
  },
  data () {
    return {
      productLoading: true,
      commentsLoading: true,
      selectedRate: null,
      productId: null,
      comments: [],
      newComment: {
        userUuid: this.$jwt.decode(this.$store.state.keycloak.token).sub
      },
      newCommentInit: {
        nbStars: 0,
        text: '',
        productUuid: '',
        userUuid: this.$jwt.decode(this.$store.state.keycloak.token).sub
      },
      nbComment1: 0,
      nbComment2: 0,
      nbComment3: 0,
      nbComment4: 0,
      nbComment5: 0,
      nbComment0: 0,
      page: 1,
      perPage: 5,
      updatingPay: false,
      product: {},
      updating: false,
      menuBirth: false,
      items: [{
        uuid: 0,
        rate: 5,
        descritpion: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in arcu non ex tempor gravida. Cras malesuada gravida efficitur. Donec blandit, ante id viverra aliquet, nulla nisi porta ipsum, vitae feugiat nisi velit at ex. Aliquam tincidunt, neque vitae posuere efficitur, mauris urna maximus mauris, eget cursus lacus ex eget augue. In hac habitasse platea dictumst. Nulla mi massa, pellentesque semper dolor vel, accumsan sodales turpis. Integer porta, dui et lobortis lacinia, eros ante sollicitudin libero, id sodales felis nibh at libero.'
      },
      {
        uuid: 1,
        rate: 3,
        descritpion: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in arcu non ex tempor gravida. Cras malesuada gravida efficitur. Donec blandit, ante id viverra aliquet, nulla nisi porta ipsum, vitae feugiat nisi velit at ex. Aliquam tincidunt, neque vitae posuere efficitur, mauris urna maximus mauris, eget cursus lacus ex eget augue. In hac habitasse platea dictumst. Nulla mi massa, pellentesque semper dolor vel, accumsan sodales turpis. Integer porta, dui et lobortis lacinia, eros ante sollicitudin libero, id sodales felis nibh at libero.'
      }]
    }
  },
  methods: {
    async getProduct () {
      try {
        this.productLoading = true
        let res = await productService.indexByUuid(this.productId)
        this.product = res.data
        this.product.totalRating = 0
        this.product.numberComments = 0
        this.product.ratingAverage = 0
        this.productLoading = false
        let response = await discountService.indexByProduct(res.data.uuid)
        response.data.forEach(element => {
          if ((moment(element.startDate).format('x') - moment().format('x')) < 0 && (moment(element.endDate).format('x') - moment().format('x')) > 0) {
            element.reductedPrice = element.childProduct.price * (1 - (element.percentage / 100))
            this.product.reductedPrice = element.reductedPrice
            this.product.childDiscount = element
          }
        })
        await this.getComments(this.product.uuid)
      } catch (error) {
        console.error(error)
        this.productLoading = false
      }
    },
    async getComments (uuid) {
      try {
        this.commentsLoading = true
        let res = await commentService.indexByProduct(uuid)
        this.comments = res.data
        if (this.comments) {
          this.nbComment0 = 0
          this.nbComment1 = 0
          this.nbComment2 = 0
          this.nbComment3 = 0
          this.nbComment4 = 0
          this.nbComment5 = 0
          this.items = this.comments
          this.comments.forEach(element => {
            this.product.totalRating += element.nbStars
            this.product.numberComments += 1
            this.product.ratingAverage = this.product.totalRating / this.product.numberComments
            if (element.nbStars === 0) {
              this.nbComment0++
            } else if (element.nbStars < 1.25) {
              this.nbComment1++
            } else if (element.nbStars < 2.25) {
              this.nbComment2++
            } else if (element.nbStars < 3.25) {
              this.nbComment3++
            } else if (element.nbStars < 4.25) {
              this.nbComment4++
            } else if (element.nbStars >= 4.26) {
              this.nbComment5++
            }
          })
        }
        this.commentsLoading = false
      } catch (error) {
        console.error(error)
        this.loading = false
      }
    },
    async addComment () {
      this.newComment.productUuid = this.product.uuid
      try {
        await commentService.create(this.newComment)
        this.getComments(this.product.uuid)
        this.$notify({
          group: 'all',
          title: this.$t('addComment'),
          text: `${this.$t('commentSend')}`,
          type: 'notifySuccess'
        })
        this.newComment = Object.assign({}, this.newCommentInit)
      } catch (error) {
        console.error(error)
        this.$notify({
          group: 'all',
          title: this.$t('addComment'),
          text: error,
          type: 'notifyError'
        })
      }
    }
  },
  mounted () {
    if (this.$route.params.productId) {
      try {
        this.productId = this.$route.params.productId
        this.getProduct()
      } catch (error) {
        console.error(error)
      }
    } else {
      this.$router.push({name: 'home'})
    }
  }
}
</script>
<style>
</style>
