<template>
  <table-template :filters="filtersData" :loading="loadingTable" :headers="headers" :items="items">
    <template v-slot:category="{item}">
      {{item.childCategory.name}}
    </template>
    <template v-slot:image="{item}">
      <img style="max-height: 75px; width: auto; max-width: 200px;" :src="`data:image/png;base64, ${item.image}`" alt="Red dot" />
    </template>
    <template v-slot:onTop>
      <custom-dialog
        :okTitle="$t('add')"
        :cancelTitle="$t('cancel')"
        :title="$t('addProduct')"
        okVariant="primary"
        @ok="addItem()"
        :ref="`createModal`"
        :maxWidth="900"
        :loading="loadingCreate"
        @hide="editedItem.image = null"
      >
        <template
          v-slot:button="{on}"
        >
          <v-btn
          class="mx-2"
          style="min-width: 0px"
          :small="$vuetify.breakpoint.name === 'xs'"
          color="primary"
          v-on="on"
          >
            <v-icon
              small
              @click="assignEditItem()"
            >
              mdi-plus
            </v-icon>
          </v-btn>
        </template>
        <template
          v-slot:content
        >
          <v-container>
            <form data-vv-scope="create" class="pa-5">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="editedItem.name"
                    v-bind:label="$t('productName')"
                    :error-messages="errors.collect('create.' + $t('productName'))"
                    v-validate="'required'"
                    :data-vv-name="$t('productName')"
                  />
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="editedItem.price"
                    v-bind:label="$t('price')"
                    :error-messages="errors.collect('create.' + $t('price'))"
                    type="number"
                    v-validate="'required|decimal|max:6|max_value:999.99'"
                    :data-vv-name="$t('price')"
                  />
                </v-col>
                <v-col cols="12" md="6">
                  <v-textarea
                    v-model="editedItem.description"
                    v-bind:label="$t('description')"
                    :error-messages="errors.collect('create.' + $t('description'))"
                    v-validate="'required'"
                    :data-vv-name="$t('description')"
                    outlined
                  />
                </v-col>
                <v-col cols="12" md="6">
                  <v-autocomplete
                    hide-details
                    dense
                    outlined
                    :items="categories"
                    v-model="editedItem.categoryUuid"
                    label="Categories"
                    :error-messages="errors.collect('create.Categories')"
                    v-validate="'required'"
                    data-vv-name="Categories"
                    clearable
                  >
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" md="6" v-if="editedIndex === -1">
                  <v-file-input
                    v-model="editedItem.image"
                    accept="image/*"
                    v-bind:label="$t('picture')"
                    :error-messages="errors.collect('create.' + $t('picture'))"
                    v-validate="'required'"
                    :data-vv-name="$t('picture')"
                  ></v-file-input>
                </v-col>
              </v-row>
            </form>
          </v-container>
        </template>
      </custom-dialog>
    </template>
    <template v-slot:actions="{item}">
      <!-- item.action referenced to header column -->
      <custom-dialog
        :okTitle="$t('Edit')"
        :cancelTitle="$t('cancel')"
        :title="$t('editProduct', { product: item.name })"
        okVariant="primary"
        @ok="editItem(item)"
        :ref="`editModal-${item.uuid}`"
        :maxWidth="900"
        :loading="loadingUpdate"
        @hide="editedItem.image = null"
      >
        <template
          v-slot:button="{on}"
        >
          <v-icon
            v-on="on"
            small
            class="mr-2"
            color="primary"
            @click="assignEditItem(item)"
          >
            mdi-pencil
          </v-icon>
        </template>
        <template
          v-slot:content
        >
          <v-container>
            <form data-vv-scope="update" class="pa-5">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="editedItem.name"
                    v-bind:label="$t('productName')"
                    :error-messages="errors.collect('update.' + $t('productName'))"
                    v-validate="'required'"
                    :data-vv-name="$t('productName')"
                  />
                </v-col>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-model="editedItem.price"
                    v-bind:label="$t('price')"
                    :error-messages="errors.collect('update.' + $t('price'))"
                    type="number"
                    v-validate="'required|decimal|max:6|max_value:999.99'"
                    :data-vv-name="$t('price')"
                  />
                </v-col>
                <v-col cols="12" md="6">
                  <v-textarea
                    v-model="editedItem.description"
                    v-bind:label="$t('description')"
                    :error-messages="errors.collect('update.' + $t('description'))"
                    v-validate="'required'"
                    :data-vv-name="$t('description')"
                    outlined
                  />
                </v-col>
                <v-col cols="12" md="6">
                  <v-autocomplete
                    hide-details
                    dense
                    outlined
                    :items="categories"
                    v-model="editedItem.categoryUuid"
                    label="Categories"
                    :error-messages="errors.collect('update.Categories')"
                    v-validate="'required'"
                    data-vv-name="Categories"
                    clearable
                  >
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" md="6" v-if="typeof editedItem.image !== 'string' && editedIndex !== -1">
                  <v-file-input
                    v-model="editedItem.image"
                    accept="image/*"
                    v-bind:label="$t('picture')"
                    :error-messages="errors.collect('update.' + $t('picture'))"
                    v-validate="'required'"
                    :data-vv-name="$t('picture')"
                  ></v-file-input>
                </v-col>
                <v-col cols="12" md="6" v-else style="display: flex; align-items:center;">
                  <img style="max-height: 400px; width: auto; max-width: 400px;" :src="`data:image/png;base64, ${editedItem.image}`" />
                  <v-btn class="ma-2" text icon @click="editedItem.image = null">
                    <v-icon x-large color="error">mdi-delete</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </form>
          </v-container>
        </template>
      </custom-dialog>
      <custom-dialog
        :okTitle="$t('delete')"
        :cancelTitle="$t('cancel')"
        :title="$t('deleteProduct', {product: item.name})"
        okVariant="error"
        @ok="deleteItem(item)"
        :ref="`deleteModal-${item.uuid}`"
        :maxWidth="900"
        :loading="loadingDelete"
      >
        <template v-slot:button="{on}">
          <v-icon v-on="on" small color="error">mdi-delete</v-icon>
        </template>
        <template v-slot:content>
          <v-card-text>
            {{$t('deleteConfirm')}}
          </v-card-text>
        </template>
      </custom-dialog>
    </template>
  </table-template>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import TableTemplate from '@/components/templates/Table_Template'
import categoryService from '@/services/CategoryService'
import productService from '@/services/ProductService'

export default {
  components: {
    TableTemplate,
    customDialog
  },
  data () {
    return {
      loadingTable: false,
      loadingUpdate: false,
      loadingDelete: false,
      loadingCreate: false,
      categories: [],
      selectedItem: null,
      editedItem: {},
      newImage: false,
      filtersData: [
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childCategory',
          headerText: this.$t('category'),
          loading: false,
          eventTriggerName: 'setCategory'
        },
        {
          type: 'RangeNumber',
          min: 0,
          max: 999,
          headerValue: 'price',
          headerText: `${this.$t('price')} (€)`,
          startRange: [0, 999]
        }
      ],
      headers: [
        { text: this.$t('product'), value: 'name', align: 'left' },
        { text: this.$t('category'), value: 'childCategory.name', align: 'center' },
        { text: this.$t('price'), value: 'price', align: 'center' },
        { text: this.$t('description'), value: 'description', align: 'center' },
        { text: this.$t('picture'), value: 'image', filterable: false, align: 'center' },
        { text: 'Actions', value: 'action', sortable: false, filterable: false, align: 'right' }
      ],
      items: [],
      editedIndex: -1,
      baseEditedItem: {
        name: '',
        price: 0,
        description: '',
        categoryUuid: '',
        image: null
      }
    }
  },
  async mounted () {
    this.loadingTable = true
    this.editedItem = this.baseEditedItem
    this.getCategories()
    this.getProduct()
  },
  methods: {
    async getProduct () {
      this.loadingTable = true
      try {
        let response = await productService.index()
        response.data.forEach(element => {
          if (element.image === '') {
            element.image = null
          }
        })
        this.items = response.data
        this.loadingTable = false
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    },
    async getCategories () {
      try {
        let resCategories = await categoryService.index()
        this.categories = resCategories.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
        this.filtersData[0].options = resCategories.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
      } catch (error) {
        console.error(error)
      }
    },
    assignEditItem (item) {
      if (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem.image = null
        this.editedItem = Object.assign({}, item)
      } else {
        this.editedIndex = -1
        this.editedItem = Object.assign({}, this.baseEditedItem)
      }
    },
    editItem (item) {
      this.$validator.validateAll('update').then(async (result) => {
        if (result) {
          this.loadingUpdate = true
          try {
            let objectToSend = Object.assign({}, this.editedItem)
            if (typeof this.editedItem.image !== 'string') {
              objectToSend.image = (await this.getBase64(objectToSend.image)).split(',')[1]
            }
            await productService.update(objectToSend)
            this.items[this.editedIndex].name = objectToSend.name
            this.items[this.editedIndex].price = objectToSend.price
            this.items[this.editedIndex].description = objectToSend.description
            this.items[this.editedIndex].categoryUuid = objectToSend.categoryUuid
            this.items[this.editedIndex].image = objectToSend.image
            this.$refs[`editModal-${item.uuid}`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('updateSuccess'),
              text: `${this.$t('updateProduct', {'product': `${this.editedItem.name}`})}`,
              type: 'notifySuccess'
            })
            this.editedItem = {
              startDate: null,
              endDate: null
            }
            this.editedIndex = null
            this.loadingUpdate = false
          } catch (error) {
            console.error(error)
            this.$refs[`editModal-${this.editedItem.uuid}`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('error'),
              text: `${error.response.status} ${this.$t('updateProduct', {'product': `${this.editedItem.name}`})}`,
              type: 'notifyError'
            })
            this.loadingUpdate = false
          }
        }
      })
    },
    addItem () {
      this.$validator.validateAll('create').then(async (result) => {
        if (result) {
          this.loadingCreate = true
          try {
            let objectToSend = Object.assign({}, this.editedItem)
            objectToSend.image = (await this.getBase64(objectToSend.image)).split(',')[1]
            await productService.create(objectToSend)
            this.$refs[`createModal`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('createSuccess'),
              text: `${this.$t('createProduct', {'product': `${this.editedItem.name}`})}`,
              type: 'notifySuccess'
            })
            this.getProduct()
            this.editedItem = {
              startDate: null,
              endDate: null
            }
            this.editedIndex = null
            this.loadingCreate = false
          } catch (error) {
            console.error(error)
            this.$refs[`createModal`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('error'),
              text: `${error.response.status} ${this.$t('createProduct', {'product': `${this.editedItem.name}`})}`,
              type: 'notifyError'
            })
            this.loadingCreate = false
          }
        }
      })
    },
    getBase64 (file) {
      const reader = new FileReader()
      return new Promise(resolve => {
        reader.onload = ev => {
          resolve(ev.target.result)
        }
        reader.readAsDataURL(file)
      })
    },
    async deleteItem (item) {
      this.loadingDelete = true
      try {
        await productService.delete(item.uuid)
        const index = this.items.indexOf(item)
        this.items.splice(index, 1)
        this.$refs[`deleteModal-${item.uuid}`].hide()
        this.$notify({
          group: 'all',
          title: this.$t('deleteSuccess'),
          text: `${this.$t('deleteProduct', {'product': `${item.name}`})}`,
          type: 'notifySuccess'
        })
      } catch (error) {
        console.error(error)
        this.$notify({
          group: 'all',
          title: this.$t('error'),
          text: `${error.response.status} ${this.$t('deleteProduct', {'product': `${item.name}`})}`,
          type: 'notifyError'
        })
      }
    }
  }
}
</script>
