<template>
  <table-template
    :filters="filtersData"
    :loading="loadingTable"
    :headers="headers"
    :items="items"
    @setCategory="filterProducts"
  >
    <template v-slot:category="{item}">
      {{item.childProduct.childCategory.name}}
    </template>
    <template v-slot:startDate="{item}">
      {{item.startDate | moment('YYYY-MM-DD')}}
    </template>
    <template v-slot:endDate="{item}">
      {{item.endDate | moment('YYYY-MM-DD')}}
    </template>
    <template v-slot:actions="{item}">
      <custom-dialog
        :okTitle="$t('Edit')"
        :cancelTitle="$t('cancel')"
        :title="$t('editDiscount', {product: item.childProduct.name, startDate: item.startDate, endDate: item.endDate})"
        okVariant="primary"
        @ok="editItem(item)"
        :ref="`editModal-${item.uuid}`"
        :maxWidth="900"
        :loading="loadingUpdate"
      >
        <template
          v-slot:button="{on}"
        >
          <v-icon
            v-on="on"
            small
            class="mr-2"
            color="primary"
            @click="assignEditItem(item)"
          >
            mdi-pencil
          </v-icon>
        </template>
        <template
          v-slot:content
        >
          <v-container>
            <form data-vv-scope="update" class="px-5">
              <v-row>
                <v-col cols="12" :md="loadedProducts ? 6 : 12">
                  <v-autocomplete
                    hide-details
                    :items="categories"
                    label="Categories"
                    data-vv-name="Categories"
                    :error-messages="errors.collect('update.Categories')"
                    dense
                    outlined
                    v-model="selectedCategory"
                    @change="updateCategory"
                    v-validate="'required'"
                    clearable
                    :disabled="loadingUpdate"
                  >
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" md="6" v-if="loadedProducts">
                  <v-autocomplete
                    hide-details
                    :items="products"
                    :label="$t('products')"
                    :data-vv-name="$t('products')"
                    :error-messages="errors.collect('update.' + $t('products'))"
                    dense
                    outlined
                    v-model="editedItem.productUuid"
                    v-validate="'required'"
                    clearable
                  >
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" md="6">
                  <v-dialog
                    ref="startDate"
                    v-model="startDateEdit"
                    :return-value.sync="editedItem.startDate"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="editedItem.startDate"
                        :label="$t('dateStart')"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                        :data-vv-name="$t('dateStart')"
                        :error-messages="errors.collect('update.' + $t('dateStart'))"
                        v-validate="'required'"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="editedItem.startDate" scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="startDateEdit = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.startDate.save(editedItem.startDate)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="12" md="6">
                  <v-dialog
                    ref="endDate"
                    v-model="endDateEdit"
                    :return-value.sync="editedItem.endDate"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="editedItem.endDate"
                        :label="$t('dateEnd')"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                        :data-vv-name="$t('dateEnd')"
                        :error-messages="errors.collect('update.' + $t('dateEnd'))"
                        v-validate="'required'"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="editedItem.endDate" scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="endDateEdit = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.endDate.save(editedItem.endDate)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="12" md="6">
                   <v-text-field
                    v-validate="'required|numeric|max_value:100|min_value:0'"
                    :error-messages="errors.collect('update.' + $t('discount'))"
                    :data-vv-name="$t('discount')"
                    v-model="editedItem.percentage"
                    type="number"
                    suffix="%"
                    :label="$t('discount')"
                  />
                </v-col>
              </v-row>
            </form>
          </v-container>
        </template>
      </custom-dialog>
      <custom-dialog
        :okTitle="$t('delete')"
        :cancelTitle="$t('cancel')"
        :title="$t('deleteDiscount', {product: item.childProduct.name, startDate: item.startDate, endDate: item.endDate})"
        okVariant="error"
        @ok="deleteItem(item)"
        :ref="`deleteModal-${item.uuid}`"
        :max-width="900"
        :loading="loadingDelete"
      >
        <template v-slot:button="{on}">
          <v-icon v-on="on" small color="error">mdi-delete</v-icon>
        </template>
        <template v-slot:content>
          <v-card-text>
            {{$t('deleteConfirm')}}
          </v-card-text>
        </template>
      </custom-dialog>
    </template>
    <template v-slot:onTop>
      <custom-dialog
        :okTitle="$t('add')"
        :cancelTitle="$t('cancel')"
        :title="$t('newDiscount')"
        okVariant="primary"
        @ok="createItem"
        :ref="`createModal`"
        :maxWidth="900"
        :loading="loadingCreate"
      >
        <template
          v-slot:button="{on}"
        >
          <v-btn
            v-on="on"
            class="mx-2"
            style="min-width: 0px"
            :small="$vuetify.breakpoint.name === 'xs'"
            color="primary"
            :disabled="loadingTable"
          >
            <v-icon
              small
              @click="assignEditItem()"
            >
              mdi-plus
            </v-icon>
          </v-btn>
        </template>
        <template
          v-slot:content
        >
          <v-container>
            <form data-vv-scope="create" class="px-5">
              <v-row>
                <v-col cols="12" :md="loadedProducts ? 6 : 12">
                  <v-autocomplete
                    hide-details
                    :items="categories"
                    label="Categories"
                    data-vv-name="Categories"
                    :error-messages="errors.collect('create.Categories')"
                    dense
                    outlined
                    v-model="selectedCategory"
                    @change="updateCategory"
                    v-validate="'required'"
                    clearable
                    :disabled="loadingCreate"
                  >
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" md="6" v-if="loadedProducts">
                  <v-autocomplete
                    hide-details
                    :items="products"
                    :label="$t('products')"
                    :data-vv-name="$t('products')"
                    :error-messages="errors.collect('create.' + $t('products'))"
                    dense
                    outlined
                    v-model="editedItem.productUuid"
                    v-validate="'required'"
                    clearable
                  >
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" md="6">
                  <v-dialog
                    ref="startDate"
                    v-model="startDateEdit"
                    :return-value.sync="editedItem.startDate"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="editedItem.startDate"
                        :label="$t('dateStart')"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                        :data-vv-name="$t('dateStart')"
                        :error-messages="errors.collect('create.' + $t('dateStart'))"
                        v-validate="'required'"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="editedItem.startDate" scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="startDateEdit = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.startDate.save(editedItem.startDate)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="12" md="6">
                  <v-dialog
                    ref="endDate"
                    v-model="endDateEdit"
                    :return-value.sync="editedItem.endDate"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="editedItem.endDate"
                        :label="$t('dateEnd')"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                        :data-vv-name="$t('dateEnd')"
                        :error-messages="errors.collect('create.' + $t('dateEnd'))"
                        v-validate="'required'"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="editedItem.endDate" scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="endDateEdit = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.endDate.save(editedItem.endDate)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col cols="12" md="6">
                   <v-text-field
                    v-validate="'required|numeric|max_value:100|min_value:0'"
                    :error-messages="errors.collect('create.' + $t('discount'))"
                    :data-vv-name="$t('discount')"
                    v-model="editedItem.percentage"
                    type="number"
                    suffix="%"
                    :label="$t('discount')"
                  />
                </v-col>
              </v-row>
            </form>
          </v-container>
        </template>
      </custom-dialog>
    </template>
  </table-template>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import TableTemplate from '@/components/templates/Table_Template'
import categoryService from '@/services/CategoryService'
import discountService from '@/services/DiscountService'
import productService from '@/services/ProductService'
import moment from 'moment'

export default {
  components: {
    TableTemplate,
    customDialog
  },
  data () {
    return {
      loadingTable: false,
      loadingDelete: false,
      loadingUpdate: false,
      loadingCreate: false,
      selectedItem: null,
      selectedCategory: null,
      startDateEdit: false,
      endDateEdit: false,
      categories: [],
      filtersData: [
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childProduct.childCategory',
          headerText: this.$t('category'),
          loading: false,
          eventTriggerName: 'setCategory'
        },
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childProduct',
          headerText: this.$t('product'),
          dependsOn: 'childProduct.childCategory',
          loading: false,
          eventTriggerName: 'setProduct'
        },
        {
          type: 'RangeNumber',
          min: 0,
          max: 999,
          headerValue: 'childProduct.price',
          headerText: `${this.$t('price')} (€)`,
          startRange: [0, 999]
        },
        {
          type: 'RangeNumber',
          min: 0,
          max: 100,
          headerValue: 'percentage',
          headerText: `${this.$t('discount')} (%)`,
          startRange: [0, 100]
        },
        {
          type: 'RangeNumber',
          min: 0,
          max: 999,
          headerValue: 'reductedPrice',
          headerText: `${this.$t('reductedPrice')} (€)`,
          startRange: [0, 999]
        },
        {
          type: 'DateRange',
          dates: [],
          modal: false,
          headerValue: 'startDate',
          headerText: this.$t('dateStart')
        },
        {
          type: 'DateRange',
          dates: [],
          modal: false,
          headerValue: 'endDate',
          headerText: this.$t('dateEnd')
        }
      ],
      headers: [
        { text: this.$t('product'), value: 'childProduct.name', align: 'left' },
        { text: this.$t('category'), value: 'childProduct.childCategory', align: 'center' },
        { text: `${this.$t('price')} (€)`, value: 'childProduct.price', align: 'center' },
        { text: `${this.$t('discount')} (%)`, value: 'percentage', align: 'center' },
        { text: `${this.$t('reductedPrice')} (€)`, value: 'reductedPrice', align: 'center' },
        { text: this.$t('dateStart'), value: 'startDate', align: 'center' },
        { text: this.$t('dateEnd'), value: 'endDate', align: 'center' },
        { text: 'Actions', value: 'action', sortable: false, filterable: false, align: 'right' }
      ],
      items: [],
      editedIndex: null,
      editedItem: {
        startDate: null,
        endDate: null
      },
      loadedProducts: false,
      products: []
    }
  },
  async mounted () {
    this.loadingTable = true
    this.getCategories()
    this.getDiscount()
  },
  methods: {
    async filterProducts (categoryUuid) {
      this.filtersData[0].loading = true
      this.filtersData[1].loading = true
      this.filtersData[1].hide = false
      try {
        let resProducts = await productService.indexByCategory(categoryUuid)
        this.filtersData[1].options = resProducts.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
        this.filtersData[0].loading = false
        this.filtersData[1].loading = false
      } catch (error) {
        console.error(error)
        this.filtersData[1].show = false
        this.filtersData[0].loading = false
        this.filtersData[1].loading = false
      }
    },
    async getDiscount () {
      this.loadingTable = true
      try {
        let response = await discountService.index()
        response.data.forEach(element => {
          element.reductedPrice = element.childProduct.price * (1 - (element.percentage / 100))
          element.startDate = moment(element.startDate).format('YYYY-MM-DD')
          element.endDate = moment(element.endDate).format('YYYY-MM-DD')
        })
        this.items = response.data
        this.loadingTable = false
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    },
    async getCategories () {
      try {
        let resCategories = await categoryService.index()
        this.categories = resCategories.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
        this.filtersData[0].options = resCategories.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
      } catch (error) {
        console.error(error)
      }
    },
    async updateCategory (value) {
      this.loadedProducts = false
      if (value) {
        this.loadingUpdate = true
        this.loadingCreate = true
        try {
          let resProducts = await productService.indexByCategory(value)
          this.products = resProducts.data.map(item => {
            return {
              text: item.name,
              value: item.uuid
            }
          })
          this.loadedProducts = true
          this.loadingCreate = false
          this.loadingUpdate = false
        } catch (error) {
          console.error(error)
          this.loadingUpdate = false
          this.loadingCreate = false
        }
      }
    },
    assignEditItem (item) {
      if (item) {
        this.editedIndex = this.items.indexOf(item)
        this.editedItem = Object.assign({}, {
          endDate: item.endDate,
          idDiscount: item.idDiscount,
          percentage: item.percentage,
          productUuid: item.productUuid,
          startDate: item.startDate,
          uuid: item.uuid
        })
        this.editedItem.orders = undefined
        this.editedItem.childProduct = undefined
      } else {
        this.editedIndex = -1
        this.editedItem = {
          endDate: null,
          percentage: 0,
          productUuid: null,
          startDate: null
        }
      }
    },
    editItem (item) {
      this.$validator.validateAll('update').then(async (result) => {
        if (result) {
          this.loadingUpdate = true
          try {
            await discountService.update(this.editedItem)
            this.items[this.editedIndex].endDate = this.editedItem.endDate
            this.items[this.editedIndex].productUuid = this.editedItem.productUuid
            this.items[this.editedIndex].percentage = this.editedItem.percentage
            this.items[this.editedIndex].startDate = this.editedItem.startDate
            this.$refs[`editModal-${this.editedItem.uuid}`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('updateSuccess'),
              text: `${this.$t('editDiscount', {product: this.items[this.editedIndex].childProduct.name, startDate: this.items[this.editedIndex].startDate, endDate: this.items[this.editedIndex].endDate})}`,
              type: 'notifySuccess'
            })
            this.editedItem = {
              startDate: null,
              endDate: null
            }
            this.editedIndex = null
            this.loadingUpdate = false
          } catch (error) {
            console.error(error)
            this.$refs[`editModal-${this.editedItem.uuid}`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('updateFail'),
              text: `${error.response.status} ${this.$t('editDiscount', {product: this.items[this.editedIndex].childProduct.name, startDate: this.items[this.editedIndex].startDate, endDate: this.items[this.editedIndex].endDate})}`,
              type: 'notifyError'
            })
            this.loadingUpdate = false
          }
        }
      })
    },
    createItem (item) {
      this.$validator.validateAll('create').then(async (result) => {
        if (result) {
          this.loadingCreate = true
          try {
            await discountService.create(this.editedItem)
            this.$refs[`createModal`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('createSuccess'),
              text: `${this.$t('createDiscount')}`,
              type: 'notifySuccess'
            })
            this.getDiscount()
            this.editedItem = {
              startDate: null,
              endDate: null
            }
            this.editedIndex = null
            this.loadingCreate = false
          } catch (error) {
            console.error(error)
            this.$refs[`createModal`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('createFail'),
              text: `${error.response.status} ${this.$t('createDiscount')}`,
              type: 'notifyError'
            })
            this.loadingCreate = false
          }
        }
      })
    },
    async deleteItem (item) {
      this.loadingDelete = true
      try {
        await discountService.delete(item.uuid)
        const index = this.items.indexOf(item)
        this.items.splice(index, 1)
        this.$refs[`deleteModal-${item.uuid}`].hide()
        this.$notify({
          group: 'all',
          title: this.$t('deleteSuccess'),
          text: `${this.$t('deleteDiscount', {'product': item.childProduct.name})}`,
          type: 'notifySuccess'
        })
        this.loadingDelete = false
      } catch (error) {
        console.error(error)
        this.$refs[`deleteModal-${item.uuid}`].hide()
        this.$notify({
          group: 'all',
          title: this.$t('error'),
          text: `${error.response.status} ${this.$t('deleteDiscount', {'product': item.childProduct.name})}`,
          type: 'notifyError'
        })
        this.loadingDelete = false
      }
    }
  }
}
</script>
