<template>
  <v-container>
    <v-row
      align="center"
    >
      <v-col cols="12" md="6" lg="3">
        <v-select
          hide-details
          :items="displayByOptions"
          :label="$t('displayBy')"
          dense
          outlined
          :disabled="loading"
          v-model="displayBySelected"
        >
        </v-select>
      </v-col>
      <v-col cols="12" md="6" lg="3">
        <v-autocomplete
          hide-details
          :items="dateRangeOptions"
          :label="$t('since')"
          dense
          outlined
          :disabled="loading"
          v-model="dateRangeSelected"
          clearable
        >
        </v-autocomplete>
      </v-col>
      <v-col cols="12" md="6" lg="3">
        <v-autocomplete
          hide-details
          :items="shops"
          :label="$t('shop')"
          dense
          outlined
          :disabled="loading"
          v-model="shopSelected"
          clearable
        >
        </v-autocomplete>
      </v-col>
    </v-row>
    <v-switch
      v-model="graphic"
      :label="$t('graphicalDisplay')"
    ></v-switch>
    <v-divider
      class="mx-4 my-4"
      style="border-width: 1px"
    ></v-divider>
    <v-row
      align="center"
    >
      <v-col cols="12" v-if="!graphic">
        <v-data-table
          :headers="headers"
          :items="fomatOrders"
          :items-per-page="5"
          class="elevation-1"
          :loading="loading"
          single-expand
          item-key="name"
          expand-icon="mdi-eye"
        >
        </v-data-table>
      </v-col>
      <v-col cols="12" v-else>
        <apexchart type="bar" height="500" :options="chartOptions" :series="fomatOrders"></apexchart>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import shopService from '@/services/ShopService'
import orderService from '@/services/OrderService'
import moment from 'moment'

export default {
  components: {
    customDialog
  },
  data () {
    return {
      allOrders: [],
      headers: [
        {
          text: this.$t('name'),
          align: 'left',
          value: 'name'
        },
        { text: this.$t('sales'), value: 'quantity' }
      ],
      shops: [],
      loading: true,
      shopSelected: null,
      graphic: true,
      sales: [{
        name: this.$t('consumers'),
        data: []
        // reset in mounted
      }],
      displayBySelected: 'product',
      dateRangeSelected: null,
      dateRangeOptions: [
        {
          text: this.$t('lastDay'),
          value: moment().subtract(1, 'days').format('x')
        },
        {
          text: this.$t('lastWeek'),
          value: moment().subtract(1, 'weeks').format('x')
        },
        {
          text: this.$t('lastMonth'),
          value: moment().subtract(1, 'months').format('x')
        },
        {
          text: this.$t('lastThreeMonths'),
          value: moment().subtract(3, 'months').format('x')
        },
        {
          text: this.$t('lastYear'),
          value: moment().subtract(1, 'years').format('x')
        }
      ],
      displayByOptions: [
        {
          text: this.$t('category'),
          value: 'category'
        },
        {
          text: this.$t('product'),
          value: 'product'
        }
      ]
    }
  },
  computed: {
    filteredOrders () {
      return this.allOrders.filter(order => {
        if (this.shopSelected) {
          if (order.childCart.childStore.uuid !== this.shopSelected) {
            return false
          }
        }
        if (this.dateRangeSelected) {
          if (this.dateRangeSelected > moment(order.childCart.datetime).format('x')) {
            return false
          }
        }
        return true
      })
    },
    fomatOrders () {
      let sales = []
      if (this.displayBySelected === 'category') {
        this.filteredOrders.forEach(element => {
          let saleFound = sales.find(saleFinding => saleFinding.categoryUuid === element.childProduct.categoryUuid)
          if (saleFound) {
            saleFound.quantity += element.quantity
          } else {
            sales.push({
              categoryUuid: element.childProduct.categoryUuid,
              productUuid: null,
              name: element.childProduct.childCategory.name,
              quantity: element.quantity
            })
          }
        })
      } else {
        this.filteredOrders.forEach(element => {
          let saleFound = sales.find(saleFinding => saleFinding.productUuid === element.productUuid)
          if (saleFound) {
            saleFound.quantity += element.quantity
          } else {
            sales.push({
              categoryUuid: null,
              productUuid: element.productUuid,
              name: element.childProduct.name,
              quantity: element.quantity
            })
          }
        })
      }
      sales.sort(function (a, b) {
        return a.quantity > b.quantity ? -1 : a.quantity < b.quantity ? 1 : 0
      })
      if (this.graphic) {
        let series = sales.map(element => {
          return {
            x: element.name,
            y: element.quantity
          }
        }).filter(Boolean)
        sales = [{
          name: this.$t('sales'),
          data: series.length === 0 ? [{x: 0, y: ''}] : series.slice(0, 20)
          // reset in mounted
        }]
      }
      return sales
    },
    chartOptions () {
      return {
        chart: {
          height: 500,
          type: 'bar',
          toolbar: {
            show: false,
            autoSelected: 'pan'
          }
        },
        title: {
          text: this.$t('20BestSalesWithSelectedFilters')
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 2
        },
        grid: {
          row: {
            colors: ['#fff', '#f2f2f2']
          }
        },
        xaxis: {
          tickPlacement: 'on',
          type: 'category'
        },
        yaxis: {
          labels: {
            formatter: function (val, index) {
              return val.toFixed(0)
            }
          },
          tickAmount: 5,
          min: 0
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            type: 'horizontal',
            shadeIntensity: 0.25,
            gradientToColors: undefined,
            inverseColors: true,
            opacityFrom: 0.85,
            opacityTo: 0.85,
            stops: [50, 0, 100]
          }
        }
      }
    }
  },
  async mounted () {
    this.loading = true
    this.getShop()
    this.getOrders()
  },
  methods: {
    async getShop () {
      try {
        let resShops = await shopService.index()
        this.shops = resShops.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
      } catch (error) {
        console.error(error)
      }
    },
    async getOrders () {
      this.loading = true
      try {
        let response = await orderService.index()
        this.allOrders = response.data.filter(order => {
          if (order.childCart.datetime) {
            return true
          }
          return false
        })
        this.loading = false
      } catch (error) {
        console.error(error)
        this.loading = false
      }
    }
  }
}
</script>
