<template>
  <table-template
    :filters="filtersData"
    :loading="loadingTable"
    :headers="headers"
    :items="items"
    @setCategory="filterProducts"
  >
    <template v-slot:shop="{item}">
      {{item.childStore.name}}
    </template>
    <template v-slot:category="{item}">
      {{item.childProduct.childCategory.name}}
    </template>
    <template v-slot:stock="{item}">
      <custom-dialog
        :okTitle="$t('update')"
        :cancelTitle="$t('cancel')"
        :title="$t('updateStockOfProduct',  {'product': item.childProduct.name, 'shop': item.childStore.name})"
        okVariant="warning"
        @ok="updateStock"
        :ref="`updateStockModal-${item.uuid}`"
        :maxWidth="900"
        :loading="loadingUpdate"
      >
        <template
          v-slot:button="{on: dialog}"
        >
          <!-- eslint-disable-next-line -->
          <div v-on="{ ...dialog }" @click="numberValue = item.quantity, selectedItem = item">
            <div v-if="item.quantity < 1" >
              <v-chip color="red" dark>{{ item.quantity }} <v-icon>mdi-menu-down</v-icon></v-chip>
            </div>
            <div v-else>
              {{ item.quantity }}<v-icon>mdi-menu-down</v-icon>
            </div>
          </div>
        </template>
        <template
          v-slot:content
        >
          <v-container>
            <form class="px-5">
              <v-row>
                <v-col cols="12" md="6">
                  <v-text-field
                    v-validate="'required|numeric|min_value:0'"
                    :error-messages="errors.collect($t('Stock'))"
                    :data-vv-name="$t('Stock')"
                    v-model="numberValue"
                    type="number"
                    :label="$t('Stock')"
                  />
                </v-col>
              </v-row>
            </form>
          </v-container>
        </template>
      </custom-dialog>
    </template>
    <template v-slot:onTop="{items}">
      <v-row
        v-if="items.find(itemFound => itemFound.quantity < 1)"
        align="center"
      >
        <v-col cols="12">
          <v-alert type="error" dismissible class="mx-5">
            {{$t('outOfStock')}}
            <v-btn
              @click="filtersData[3].startRange = [0, 0]"
              icon
            >
              <v-icon dark>mdi-eye</v-icon>
            </v-btn>
          </v-alert>
        </v-col>
      </v-row>
    </template>
  </table-template>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import TableTemplate from '@/components/templates/Table_Template'
import stockService from '@/services/StockService'
import shopService from '@/services/ShopService'
import categoryService from '@/services/CategoryService'
import productService from '@/services/ProductService'

export default {
  components: {
    TableTemplate,
    customDialog
  },
  data () {
    return {
      loadingTable: false,
      loadingUpdate: false,
      numberValue: 0,
      selectedItem: null,
      filtersData: [
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childStore',
          headerText: this.$t('shop'),
          loading: false,
          eventTriggerName: 'setStore'
        },
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childProduct.childCategory',
          headerText: this.$t('category'),
          loading: false,
          eventTriggerName: 'setCategory'
        },
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childProduct',
          headerText: this.$t('product'),
          dependsOn: 'childProduct.childCategory',
          loading: false,
          eventTriggerName: 'setProduct'
        },
        {
          type: 'RangeNumber',
          min: 0,
          max: 200,
          headerValue: 'quantity',
          headerText: this.$t('Stock'),
          startRange: [0, 20]
        }
      ],
      headers: [
        {
          text: this.$t('product'),
          align: 'left',
          value: 'childProduct.name'
        },
        { text: this.$t('shop'), value: 'childStore', align: 'center' },
        { text: this.$t('category'), value: 'childProduct.childCategory', align: 'center' },
        { text: this.$t('Stock'), value: 'quantity', align: 'center' }
      ],
      items: []
    }
  },
  methods: {
    async filterProducts (categoryUuid) {
      this.filtersData[1].loading = true
      this.filtersData[2].loading = true
      this.filtersData[2].hide = false
      try {
        let resProducts = await productService.indexByCategory(categoryUuid)
        this.filtersData[2].options = resProducts.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
        this.filtersData[1].loading = false
        this.filtersData[2].loading = false
      } catch (error) {
        console.error(error)
        this.filtersData[2].show = false
        this.filtersData[1].loading = false
        this.filtersData[2].loading = false
      }
    },
    async updateStock () {
      this.$validator.validate(this.$t('Stock')).then(async (result) => {
        if (result) {
          this.loadingUpdate = true
          try {
            await stockService.update(this.selectedItem, this.numberValue)
            this.$refs[`updateStockModal-${this.selectedItem.uuid}`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('updateSuccess'),
              text: `${this.$t('updateStockOfProduct', {'product': this.selectedItem.childProduct.name, 'shop': this.selectedItem.childStore.name})}\rStock:${this.numberValue}`,
              type: 'notifySuccess'
            })
            this.selectedItem.quantity = this.numberValue
            this.numberValue = 0
            this.selectedItem = null
            this.loadingUpdate = false
          } catch (error) {
            console.error(error)
            this.$refs[`updateStockModal-${this.selectedItem.uuid}`].hide()
            this.$notify({
              group: 'all',
              title: this.$t('updateFail'),
              text: `${error.response.status} ${this.$t('updateStockOfProduct', {'product': this.selectedItem.childProduct.name, 'shop': this.selectedItem.childStore.name})}`,
              type: 'notifyError'
            })
            this.numberValue = 0
            this.selectedItem = null
            this.loadingUpdate = false
          }
        }
      })
    },
    async getStock () {
      this.loadingTable = true
      try {
        let response = await stockService.index()
        this.items = response.data
        this.loadingTable = false
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    },
    async getShop () {
      try {
        let resShops = await shopService.index()
        this.filtersData[0].options = resShops.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
      } catch (error) {
        console.error(error)
      }
    },
    async getCategories () {
      try {
        let resCategories = await categoryService.index()
        this.filtersData[1].options = resCategories.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
      } catch (error) {
        console.error(error)
      }
    }
  },
  mounted () {
    this.loadingTable = true
    this.getShop()
    this.getCategories()
    this.getStock()
  }
}
</script>
