<template>
  <v-container>
    <table-template :filters='filtersData' :loading='loadingTable' :headers='headers' :items='items' expandable @expand="getOrdersByCart">
      <template v-slot:user='{item}'>
        {{`${item.childUser.firstname} ${item.childUser.lastname}`}}    </template>
      <template v-slot:shop='{item}'>
        {{item.childStore.name}}
      </template>
      <template v-slot:date='{item}'>
        {{item.datetime | moment('YYYY-MM-DD')}}
      </template>
      <template v-slot:expandable-row="{ headers, item }">
        <v-data-table :loading="item.loadingOrders" dense :headers="subHeaders" :items="item.orders" class="elevation-1 lighten" :hide-default-footer="true" disable-filtering disable-sort></v-data-table>
      </template>
    </table-template>
    <div v-if="consumersData.seriesMonth.length > 1 || loadingTable">
      <apexchart class="mt-3 pt-5" type="area" height="350" :options="chartOptionsMonth" :series="seriesMonth"></apexchart>
      <apexchart class="mt-3 pt-5" type="area" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
  </v-container>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import TableTemplate from '@/components/templates/Table_Template'
import shopService from '@/services/ShopService'
import cartService from '@/services/CartService'
import orderService from '@/services/OrderService'
import moment from 'moment'

export default {
  components: {
    TableTemplate,
    customDialog
  },
  data () {
    return {
      expanded: [],
      loadingTable: true,
      selectedItem: null,
      filtersData: [
        {
          type: 'Select',
          options: [],
          selected: null,
          headerValue: 'childStore',
          headerText: this.$t('shop'),
          loading: false,
          eventTriggerName: 'setStore'
        },
        {
          type: 'DateRange',
          dates: [],
          modal: false,
          headerValue: 'datetime',
          headerText: 'Date'
        }
      ],
      headers: [
        { text: this.$t('user'), value: 'childUser', align: 'left' },
        { text: this.$t('shop'), value: 'childStore', align: 'center' },
        { text: 'Date', value: 'datetime', align: 'center' },
        { text: `${this.$t('totalPrice')} (€)`, value: 'totalPrice', align: 'center' },
        { text: 'Details', value: 'data-table-expand', filterable: false, align: 'center' }
      ],
      subHeaders: [
        { text: this.$t('quantity'), value: 'quantity', align: 'left' },
        { text: this.$t('product'), value: 'childProduct.name', filterable: false, align: 'center' },
        { text: `${this.$t('price')} (€)`, value: 'childProduct.price', filterable: false, align: 'center' },
        { text: `${this.$t('discount')} (%)`, value: 'childDiscount.percentage', filterable: false, align: 'center' },
        { text: `${this.$t('totalPrice')} (€)`, value: 'totalPrice', filterable: false, align: 'center' }
      ],
      items: [],
      consumersData: {
        seriesMonth: [],
        seriesDays: []
      },
      series: [{
        name: this.$t('consumers'),
        data: []
        // reset in mounted
      }],
      chartOptions: {
        chart: {
          id: 'chartmonth',
          type: 'area',
          background: '#F6F8FA',
          toolbar: {
            show: false,
            autoSelected: 'pan'
          }
        },
        title: {
          text: this.$t('frequencyConsumerByInterval')
        },
        colors: ['#FF7F00'],
        stroke: {
          width: 0,
          curve: 'smooth'
        },
        dataLabels: {
          enabled: false
        },
        fill: {
          opacity: 1,
          type: 'solid'
        },
        yaxis: {
          tickAmount: 5,
          min: 0
        },
        xaxis: {
          type: 'datetime',
          labels: {
            format: 'dd MMM'
          }
        },
        markers: {
          size: 5,
          hover: {
            size: 9
          }
        }
      },
      seriesMonth: [{
        name: this.$t('consumers'),
        data: []
        // reset in mounted
      }],
      chartOptionsMonth: {
        chart: {
          type: 'area',
          background: '#F6F8FA',
          toolbar: {
            autoSelected: 'selection'
          },
          brush: {
            enabled: true,
            target: 'chartmonth'
          },
          selection: {
            enabled: true,
            xaxis: {
              min: new Date('26 Jan 2014').getTime(),
              max: new Date('29 Mar 2015').getTime()
            }
          }
        },
        title: {
          text: this.$t('frequencyConsumerByMonth')
        },
        colors: ['#7BD39A'],
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 0,
          curve: 'smooth'
        },
        fill: {
          opacity: 1,
          type: 'solid'
        },
        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },
        xaxis: {
          type: 'datetime',
          labels: {
            format: 'MMM \'yy'
          }
        },
        yaxis: {
          tickAmount: 5,
          min: 0
        },
        markers: {
          size: 5,
          hover: {
            size: 9
          }
        }
      }
    }
  },
  async mounted () {
    this.loadingTable = true
    await this.getShop()
    await this.getTransactions()
  },
  methods: {
    async getOrdersByCart (cart) {
      if (!cart.item.loadedOrders) {
        cart.item.loadingOrders = true
        try {
          let response = await orderService.indexByCart(cart.item.uuid)
          response.data.forEach(element => {
            element.totalPrice = element.childDiscount ? ((element.childProduct.price * (100 - element.childDiscount.percentage)) / 100) * element.quantity : element.childProduct.price * element.quantity
            element.childDiscount = element.childDiscount || { percentage: 0 }
          })
          cart.item.orders = response.data
          cart.item.loadingOrders = false
          cart.item.loadedOrders = true
        } catch (error) {
          console.error(error)
          cart.item.loadingOrders = false
        }
      }
    },
    async getShop () {
      try {
        let resShops = await shopService.index()
        this.filtersData[0].options = resShops.data.map(item => {
          return {
            text: item.name,
            value: item.uuid
          }
        })
      } catch (error) {
        console.error(error)
      }
    },
    async getTransactions () {
      this.loadingTable = true
      try {
        let response = await cartService.index()
        this.items = response.data.map(element => {
          if (element.datetime) {
            let indexMonth = this.consumersData.seriesMonth.findIndex(elementFinding => elementFinding[0] === parseInt(moment(element.datetime).endOf('month').format('x'), 10))
            if (indexMonth !== -1) {
              this.consumersData.seriesMonth[indexMonth][1] += 1
            } else {
              this.consumersData.seriesMonth.push([parseInt(moment(element.datetime).endOf('month').format('x'), 10), 1])
            }
            let indexDays = this.consumersData.seriesDays.findIndex(elementFinding => elementFinding[0] === parseInt(moment(element.datetime).endOf('day').format('x'), 10))
            if (indexDays !== -1) {
              this.consumersData.seriesDays[indexDays][1] += 1
            } else {
              this.consumersData.seriesDays.push([parseInt(moment(element.datetime).endOf('day').format('x'), 10), 1])
            }
            element.orders = []
            element.loadingOrders = false
            element.loadedOrders = false
            element.totalPrice = element.totalPrice || 0
            return element
          }
        }).filter(Boolean)
        this.items.sort(function (a, b) {
          return moment(a.datetime).format('x') > moment(b.datetime).format('x') ? -1 : moment(a.datetime).format('x') < moment(b.datetime).format('x') ? 1 : 0
        })
        this.consumersData.seriesMonth.sort(function (a, b) {
          return a[0] < b[0] ? -1 : a[0] > b[0] ? 1 : 0
        })
        this.consumersData.seriesDays.sort(function (a, b) {
          return a[0] < b[0] ? -1 : a[0] > b[0] ? 1 : 0
        })
        this.consumersData.seriesMonth.unshift([parseInt(moment(this.consumersData.seriesMonth[0][0]).startOf('month').format('x'), 10), 0])
        let chartmonth = Object.assign({}, this.chartOptionsMonth)
        chartmonth.chart.selection = {
          enabled: true,
          xaxis: {
            min: this.consumersData.seriesMonth[0][0],
            max: this.consumersData.seriesMonth[this.consumersData.seriesMonth.length - 1][0]
          }
        }
        this.chartOptionsMonth = chartmonth
        this.seriesMonth = [{
          name: this.$t('consumers'),
          data: this.consumersData.seriesMonth
        }]
        this.series = [{
          name: this.$t('consumers'),
          data: this.consumersData.seriesDays
        }]
        this.loadingTable = false
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    }
  }
}
</script>
