<template>
  <div>
    <v-progress-linear
      indeterminate
      rounded
      height="4"
      v-if="loading"
    >
    </v-progress-linear>
    <v-alert v-else-if="items.length === 0" type="info" dismissible>
      {{$t('noPurchase')}}
    </v-alert>
    <v-row
      v-else
      v-for="item in items"
      :key="item.uuid"
      class="mb-10"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="mx-auto history-card"
          outlined
          :color="item.details ? '#8cbae8' : ''"
          @click="getOrdersByCart(item)"
          :loading="item.loading"
          :elevation="item.details ? 10 : 3"
        >
          <v-row class="header">
            <v-col cols="12" class="firstCol">
              <span class="card-header">
                {{`SUPGO ${$t('cart')} - ${item.childUser.firstname} ${item.childUser.lastname.toUpperCase()}`}}
              </span>
            </v-col>
          </v-row>
          <v-row>
            <v-col sm="12" md="6" class="firstCol">
              <span class="card-content" :class="{'isActive': item.details}">
                {{item.datetime | moment('YYYY-MM-DD')}}
              </span>
            </v-col>
            <v-col sm="12" md="6" class="secondCol">
              <span class="card-content" :class="{'isActive': item.details}">
                {{`${item.totalPrice}€`}}
              </span>
            </v-col>
          </v-row>
          <v-row>
            <v-col sm="12" md="6" class="firstCol">
              <span class="card-content" :class="{'isActive': item.details}">
                {{item.childStore.name}}
              </span>
            </v-col>
            <v-col sm="12" md="6" class="secondCol">
              <div class="details">
                <span class="card-content card-details" :class="{'isActive': item.details}">
                  Details
                </span>
                <v-icon
                  :class="{'isActive': item.details}"
                  :color="item.details ? 'white' : 'primary'"
                >
                  mdi-chevron-right
                </v-icon>
              </div>
            </v-col>
          </v-row>
        </v-card>
        <v-card
          class="mx-auto history-product-card"
          outlined
          v-if="item.details"
          :elevation="10"
        >
          <div
            v-for="category in item.ordersCategories"
            :key="category.uuid"
          >
            <v-row>
              <v-col
                md="3" sm="6"
              >
                <span class="card-category"> {{category.name}} </span>
              </v-col>
              <v-col
                md="3" offset-md="6" sm="6"
                class="chipCol"
              >
                <v-chip>
                  {{category.products.length}}
                </v-chip>
              </v-col>
            </v-row>
            <v-divider
              class="mx-4 mb-4"
              style="border-width: 1px"
            ></v-divider>
            <div
              v-for="product in category.products"
              :key="product.uuid"
              class="card-product"
            >
              <v-row>
                <v-col cols="auto" class="img">
                  <div class="ribbon ribbon-top-left" v-if="product.childDiscount"><span>PROMO</span></div>
                  <img style="height: 100px; width: 100px;" :src="`data:image/png;base64, ${product.image}`" alt="Red dot" />
                </v-col>
                <v-col class="colProduct">
                  <v-row class="secondCol">
                    <v-col md="6" cols="12">
                      <span class="name-product">
                        {{product.name}}
                      </span>
                      <v-chip
                        color="#1976d2"
                        text-color="white"
                      >
                        {{`x${product.quantity}`}}
                      </v-chip>
                    </v-col>
                    <v-col md="6" cols="12" class="priceCol">
                      <span :class="{notTotal: product.childDiscount ? true : false}">
                        {{`${product.price}€`}}
                      </span>
                      <span class="promo" v-if="product.childDiscount">
                        {{`-${product.childDiscount.percentage}%`}}
                      </span>
                      <span v-if="product.childDiscount">
                        {{`${product.childDiscount ? ((product.price * (100-product.childDiscount.percentage))/100) * product.quantity : product.price * product.quantity}€`}}
                      </span>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <span class="desc-product">
                        {{product.description}}
                      </span>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-divider
                class="my-2 mx-auto"
                width="50%"
                style="border-width: 1px"
              ></v-divider>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import cartService from '@/services/CartService'
import orderService from '@/services/OrderService'
import moment from 'moment'

export default {
  data () {
    return {
      expanded: [],
      loading: true,
      selectedItem: null,
      items: []
    }
  },
  async mounted () {
    this.loading = true
    await this.getTransactions()
  },
  methods: {
    async getOrdersByCart (cart) {
      if (!cart.loaded) {
        cart.loading = true
        try {
          cart.ordersCategories = []
          let response = await orderService.indexByCart(cart.uuid)
          response.data.forEach(order => {
            let orderFound = cart.ordersCategories.find(element => element.uuid === order.childProduct.categoryUuid)
            if (orderFound) {
              orderFound.products.push({
                ...order.childProduct,
                childDiscount: order.childDiscount,
                quantity: order.quantity
              })
            } else {
              cart.ordersCategories.push({
                uuid: order.childProduct.categoryUuid,
                name: order.childProduct.childCategory.name,
                products: [{
                  ...order.childProduct,
                  childDiscount: order.childDiscount,
                  quantity: order.quantity
                }]
              })
            }
          })
          cart.loading = false
          cart.loaded = true
        } catch (error) {
          console.error(error)
          cart.loading = false
        }
      }
      if (cart.details) {
        cart.details = false
      } else {
        this.items.forEach(element => { element.details = false })
        cart.details = true
      }
    },
    async getTransactions () {
      this.loading = true
      try {
        let response = await cartService.indexByUser(this.$jwt.decode(this.$store.state.keycloak.token).sub)
        this.items = response.data.map(element => {
          if (element.datetime) {
            element.ordersCategories = []
            element.loading = false
            element.details = false
            element.loaded = false
            return element
          }
        }).filter(Boolean)
        this.items.sort(function (a, b) {
          return moment(a.datetime).format('x') > moment(b.datetime).format('x') ? -1 : moment(a.datetime).format('x') < moment(b.datetime).format('x') ? 1 : 0
        })
        this.loading = false
      } catch (error) {
        console.error(error)
        this.loading = false
      }
    }
  }
}
</script>
