<template>
  <table-template :filters="filtersData" :loading="loadingTable" :headers="headers" :items="items">
     <template v-slot:onTop="{items}">
      <v-row
        align="center"
      >
        <v-col cols="12">
          <v-alert type="info" dismissible class="mx-5">
            {{`${items.length} ${$t('totalUsers')}`}}
          </v-alert>
        </v-col>
      </v-row>
    </template>
  </table-template>
</template>
<script>
import customDialog from '@/components/templates/CustomDialog'
import TableTemplate from '@/components/templates/Table_Template'
import userService from '@/services/UserService'

export default {
  components: {
    TableTemplate,
    customDialog
  },
  data () {
    return {
      loadingTable: false,
      editedItem: null,
      filtersData: [
      ],
      headers: [
        {
          text: this.$t('firstname'),
          align: 'left',
          value: 'firstname'
        },
        {
          text: this.$t('lastname'),
          align: 'left',
          value: 'lastname'
        },
        { text: this.$t('mail'), value: 'email', align: 'center' }
      ],
      items: []
    }
  },
  async mounted () {
    this.loadingTable = true
    this.getUsers()
  },
  methods: {
    async getUsers () {
      this.loadingTable = true
      try {
        let response = await userService.index()
        this.items = response.data
        this.loadingTable = false
      } catch (error) {
        console.error(error)
        this.loadingTable = false
      }
    }
  }
}
</script>
