<template>
  <v-layout
    class="text-center justify-center align-center"
  >
    <v-flex xs12 sm8 md5 >
      <v-alert type="warning" dismissible v-if="!user.address || !user.birthdate || !user.city || !user.gender || !user.phone || !user.postalCode">
        {{$t('userDetailsMissing')}}
      </v-alert>
      <v-alert type="error" dismissible v-if="!user.cardOwner || !user.cardNumber || !user.cardExpireDate || !user.cardCcv">
        {{$t('userPaymentMissing')}}
      </v-alert>
      <v-card
        class="elevation-12 mx-4 my-4 px-6 py-6"
      >
        <v-row
          :align="'center'"
        >
          <v-col cols="12">
            <v-row>
              <v-col align-self="center" md="3">
                <v-avatar>
                  <img src="/static/avatar.jpeg" >
                </v-avatar>
              </v-col>
              <v-col align-self="center" md="9" align="left">
                <h1 color="primary" style="text-align:start">
                    {{$jwt.decode($store.state.keycloak.token).given_name}}
                </h1>
                <h1 color="primary" style="text-align:start">
                    {{$jwt.decode($store.state.keycloak.token).family_name}}
                </h1>
              </v-col>
            </v-row>

          </v-col>
          <v-col xs12 sm6 offset-sm3 mt-3>
            <form data-vv-scope="user">
              <v-layout column>
                <v-flex>
                  <v-text-field
                    disabled
                    v-bind:label="$t('firstname')"
                    v-validate="'required'"
                    v-model="firstname"
                    :error-messages="errors.collect('user.' + $t('firstname'))"
                    :data-vv-name="$t('firstname')"
                    color="primary"
                  />
                  <v-text-field
                    disabled
                    v-bind:label="$t('lastname')"
                    v-validate="'required'"
                    v-model="lastname"
                    :error-messages="errors.collect('user.' + $t('lastname'))"
                    :data-vv-name="$t('lastname')"
                    color="primary"
                  />
                  <v-text-field
                    disabled
                    v-bind:label="$t('email')"
                    v-validate="'email'"
                    v-model="email"
                    :error-messages="errors.collect('user.' + $t('email'))"
                    :data-vv-name="$t('email')"
                    color="primary"
                  />
                  <v-text-field
                    :disabled="!updating || loading"
                    v-bind:label="$t('phone')"
                    v-validate="'numeric|length:10'"
                    v-model="user.phone"
                    :error-messages="errors.collect('user.' + $t('phone'))"
                    :data-vv-name="$t('phone')"
                    color="primary"
                  />
                  <v-text-field
                    :disabled="!updating || loading"
                    v-bind:label="$t('address')"
                    v-model="user.address"
                    color="primary"
                  />
                  <v-text-field
                    :disabled="!updating || loading"
                    v-bind:label="$t('postalCode')"
                    v-validate="'numeric|length:5'"
                    v-model="user.postalCode"
                    :error-messages="errors.collect('user.' + $t('postalCode'))"
                    :data-vv-name="$t('postalCode')"
                    color="primary"
                  />
                  <v-text-field
                    :disabled="!updating || loading"
                    v-bind:label="$t('city')"
                    v-model="user.city"
                    color="primary"
                  /><v-menu
                      ref="menuBirth"
                      v-model="menuBirth"
                      :close-on-content-click="false"
                      :return-value.sync="user.birthdate"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                         :disabled="!updating || loading"
                          v-bind:label="$t('birthdate')"
                          v-validate="'date_format:yyyy-MM-dd'"
                          v-model="user.birthdate"
                          :error-messages="errors.collect('user.' + $t('birthdate'))"
                          :data-vv-name="$t('birthdate')"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="user.birthdate"
                        type="date"
                        no-title
                        scrollable
                      >
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menuBirth = false">{{ $t('cancel')}}</v-btn>
                        <v-btn text color="primary" @click="$refs.menuBirth.save(user.birthdate)">{{ $t('confirm') }}</v-btn>
                      </v-date-picker>
                    </v-menu>
                    <v-radio-group v-model="user.gender" row :mandatory="true" :disabled="!updating || loading">
                      <v-radio v-bind:label="$t('genderMale')" value="male"></v-radio>
                      <v-radio v-bind:label="$t('genderFemale')" value="female"></v-radio>
                      <v-radio v-bind:label="$t('genderOther')" value="other"></v-radio>
                    </v-radio-group>
                </v-flex>
              </v-layout>
            </form>
            <v-flex
              class="text-center"
              mt-3
              mb-3
            >
            <v-col>
                <v-btn
                  :disabled="updatingPay || loading"
                  color="primary"
                  @click="triggerUpdate"
                >
                  {{ $t('update') }}
                  <v-icon dark right>mdi-pencil</v-icon>
                </v-btn>
              </v-col>
              <v-col>
                <v-btn
                  :disabled="updatingPay || loading"
                  color="primary"
                  @click="resetPassword"
                >
                  {{ $t('resetPassword') }}
                  <v-icon dark right>mdi-pencil</v-icon>
                </v-btn>
              </v-col>
              <v-col>
                <v-btn
                  color="primary"
                  :disabled="loading"
                  @click="openPaymentCard"
                  v-if="!updatingPay"
                >
                  {{ $t('updatePayment') }}
                  <v-icon dark right>mdi-credit-card</v-icon>
                </v-btn>
              </v-col>
            </v-flex>
          </v-col>
        </v-row>
      </v-card>
      <v-card
        v-if="updatingPay"
        class="elevation-12"
      >
        <v-row
          :align="'center'"
        >
          <v-col xs12 sm6 offset-sm3 mt-3>
            <form data-vv-scope="payment" class="pa-5">
                <v-flex>
                  <h2>{{ $t('updateCardTitle')}}</h2>
                  <v-text-field
                    :disabled="loading"
                    v-bind:label="$t('cardNumber')"
                    v-model="user.cardNumber"
                    color="primary"
                    hint="xxxx-xxxx-xxxx-xxxx"
                    :error-messages="errors.collect('payment.' + $t('cardNumber'))"
                    :data-vv-name="$t('cardNumber')"
                    persistent-hint
                    v-validate="'required|card_number'"
                  />
                  <v-text-field
                    :disabled="loading"
                    v-bind:label="$t('cardHolder')"
                    v-validate="'required'"
                    v-model="user.cardOwner"
                    :error-messages="errors.collect('payment.' + $t('cardHolder'))"
                    :data-vv-name="$t('cardHolder')"
                    color="primary"
                  />

                  <v-row class="pa-5">
                    <v-menu
                      ref="menuCard"
                      v-model="menuCard"
                      :close-on-content-click="false"
                      :return-value.sync="user.cardExpireDate"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :disabled="loading"
                          v-bind:label="$t('cardExpirationDate')"
                          v-validate="'required|date_format:yyyy-MM'"
                          v-model="user.cardExpireDate"
                          :error-messages="errors.collect('payment.' + $t('cardExpirationDate'))"
                          :data-vv-name="$t('cardExpirationDate')"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="user.cardExpireDate"
                        type="month"
                        no-title
                        scrollable
                        :disabled="loading"
                      >
                        <v-spacer></v-spacer>
                        <v-btn text color="primary"  @click="menuCard = false">{{ $t('cancel')}}</v-btn>
                        <v-btn text color="primary" @click="$refs.menuCard.save(user.cardExpireDate)">{{ $t('confirm') }}</v-btn>
                      </v-date-picker>
                    </v-menu>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-bind:label="$t('CVV')"
                      v-model="user.cardCcv"
                      color="primary"
                      v-validate="'required|numeric|length:3'"
                      :error-messages="errors.collect('payment.' + $t('CVV'))"
                      :data-vv-name="$t('CVV')"
                      :disabled="loading"
                    />
                  </v-row>
                  <v-row>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" :disabled="loading" @click="closePaymentCard">{{ $t('cancel') }}</v-btn>
                    <v-btn text color="primary" :disabled="loading" @click="updatePayment">{{ $t('confirm') }}</v-btn>
                  </v-row>
                </v-flex>
            </form>
            <v-flex
              class="text-center"
              mt-3
              mb-3
            >
            </v-flex>
          </v-col>
        </v-row>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import customDialog from '@/components/templates/CustomDialog'
import userService from '@/services/UserService'
import config from '@/config/config'
import moment from 'moment'

export default {
  layout: 'noStyle',
  components: {
    customDialog
  },
  data () {
    return {
      // user returned by api call
      user: {},
      loading: false,
      updatingPay: false,
      updating: false,
      lastname: this.$jwt.decode(this.$store.state.keycloak.token).family_name,
      firstname: this.$jwt.decode(this.$store.state.keycloak.token).given_name,
      email: this.$jwt.decode(this.$store.state.keycloak.token).email,
      menuCard: false,
      menuBirth: false
    }
  },
  methods: {
    openPaymentCard () {
      if (!this.updatingPay) {
        this.updating = false
        this.updatingPay = true
      }
    },
    closePaymentCard () {
      if (this.updatingPay) {
        this.updating = false
        this.updatingPay = false
      }
    },
    triggerUpdate () {
      if (!this.updating) {
        this.updating = true
      } else {
        this.$validator.validateAll('user').then(async (result) => {
          if (result) {
            try {
              this.loading = true
              let res = await userService.get(this.$jwt.decode(this.$store.state.keycloak.token).sub)
              await userService.update(res.data, this.user)
              this.$notify({
                group: 'all',
                title: this.$t('updateSuccess'),
                text: `${this.$t('updateUser', {'user': `${this.firstname} ${this.lastname}`})}`,
                type: 'notifySuccess'
              })
              this.loading = false
              this.updating = false
            } catch (error) {
              console.error(error)
              this.$notify({
                group: 'all',
                title: this.$t('error'),
                text: `${error.response.status} ${this.$t('updateUser', {'user': `${this.firstname} ${this.lastname}`})}`,
                type: 'notifyError'
              })
              this.updatingPay = false
              this.getUser()
            }
          }
        })
      }
    },
    updatePayment () {
      this.$validator.validateAll('payment').then(async (result) => {
        if (result) {
          try {
            this.loading = true
            let res = await userService.get(this.$jwt.decode(this.$store.state.keycloak.token).sub)
            await userService.updatePayment(res.data, this.user)
            this.$notify({
              group: 'all',
              title: this.$t('updatingPayment'),
              text: `${this.$t('updateSuccess')}`,
              type: 'notifySuccess'
            })
            this.loading = false
            this.updatingPay = false
          } catch (error) {
            console.error(error)
            this.$notify({
              group: 'all',
              title: this.$t('updatingPayment'),
              text: error,
              type: 'notifyError'
            })
            this.updatingPay = false
            this.getUser()
          }
        }
      })
    },
    async resetPassword () {
      let redirect = `${config.keycloakURL}/auth/realms/${config.realm}/protocol/openid-connect/forgot-credentials?client_id=${config.clientId}&redirect_uri=${encodeURIComponent(`${config.frontURL}/login`)}&response_mode=fragment&response_type=code&scope=openid`
      window.location.href = redirect
      this.$store.dispatch('keycloak', null)
    },
    async getUser () {
      try {
        this.loading = true
        let res = await userService.get(this.$jwt.decode(this.$store.state.keycloak.token).sub)
        res.data.birthdate = res.data.birthdate ? moment(res.data.birthdate).format('YYYY-MM-DD') : null
        this.user = res.data
        this.loading = false
      } catch (error) {
        console.error(error)
        this.loading = false
      }
    }
  },
  mounted () {
    this.getUser()
  }
}
</script>
<style>
</style>
