.btn-account {
  &.line1 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    font-family: inherit;
    white-space: nowrap;
    font-family: inherit;
    font-size: 10px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    margin-top: 9px;
  }

  &.line2 {
    clear: both;
    display: inline-block;
    white-space: nowrap;
    font-family: inherit;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 23px;
  }
}