.history-card {
  overflow: hidden !important;
  @media (min-width: 960px) {
    max-width: 70%;
  }
  height: 300px;
  .row {
    height: 33.3333%;
    .firstCol {
      text-align: left;
      span {
        margin-left: 10px;
      }
      @media (min-width: 960px) {
        span {
          margin-left: 100px;
        }
      }
    }
    .secondCol {
      text-align: right;
      span {
        margin-right: 10px;
      }
      @media (min-width: 960px) {
        span {
          margin-right: 100px;
        }
      }
      .details {
        margin-right: 10px;
        @media (min-width: 960px) {
          margin-right: 100px;
        }
        span {
          margin-right: 0px;
        }
      }
      .isActive {
        transform: rotate(90deg)
      }
    }
    &.header {
      align-items: center;
      .firstCol {
        text-align: left;
        span {
          margin-left: 5px;
        }
        @media (min-width: 960px) {
          span {
            margin-left: 50px;
          }
        }
      }
    }
  }
}

.history-product-card {
  @media (min-width: 960px) {
    max-width: 50%;
  }
}

.card-header {
  font-weight: bold;
  font-size: 1.8rem;
  white-space: normal;
}

.card-category {
  font-weight: bold;
  font-size: 1.2rem;
  color: grey;
  margin-left: 16px;
}


.card-content {
  font-weight: bold;
  font-size: 1.4rem;
  color: grey;
  &.card-details {
    color: #1976d2;
  }
  &.isActive {
    color: white;
  }
}

.chipCol {
  text-align: right;
  .v-chip{
    margin-right: 10px;
  }
  @media (min-width: 960px) {
    .v-chip {
      margin-right: 100px;
    }
  }
}

.card-product {
  font-weight: bold;
  font-size: 1.3rem;
  .colProduct {
    .col {
      padding-bottom: 2px;
      padding-top: 0px;
    }
  }
  .img{
    text-align: center;
    @media (min-width: 960px) {
      img {
        margin-left: 10px;
      }
    }
  }
  .priceCol {
    &.lg{
      font-size: 1.4rem;
    }
    text-align: right;
    span {
      margin-right: 15px;
    }
    .notTotal {
      font-weight: bold;
      font-size: 1.1rem;
      text-decoration: line-through;
    }
    .promo {
      font-weight: bold;
      color: grey;
      font-size: 1.1rem;
    }
  }
  .desc-product {
    margin-left: 15px;
    color: grey;
    font-size: 1rem;
    font-weight: normal;
  }
  .secondCol {
    @media (max-width: 960px) {
      .col {
        padding: 0px
      }
    }
    .name-product {
      color: #1976d2;
    }
    @media (min-width: 960px) {
      .desc-product {
        margin-left: 30px;
      }
    }
  }
}
