span {
  white-space: nowrap;
}

@media (min-width: 1264px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 100% !important;
  }
}

.container {
  padding: 20px !important;
}

.video-js {
  margin: 0 auto;
}

.v-application--is-ltr .v-alert__dismissible {
  margin: 0;
}
