.notifications {
  right: 10px !important;
}

.notification-bubble {
  padding: 15px;
  color: white;
  font-size: .9rem;
  border-left: 5px solid;
  margin-top: 10px;
  border-radius: 5px;
  white-space: break-spaces;

  .notification-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 100;
  }

  &.notifyWarn {
    background-color: #ffb648 !important;
    border-left-color: #f48a06 !important;
  }

  &.notifyError {
    background-color: #E54D42 !important;
    border-left-color: #B82E24 !important;
  }

  &.notifySuccess {
    background-color: #68CD86 !important;
    border-left-color: #42A85F !important;
  }
}

.v-fade-right-enter-active,
.v-fade-right-leave-active,
.v-fade-right-move {
  transition: all .5s;
}
.v-fade-right-enter,
.v-fade-right-leave-to {
  opacity: 0;
  transform: translateX(-200px) scale(0.2);
}
