/* common */
.ribbon {
  z-index: 1;
  @media (min-width: 960px) {
    margin-left: 10px;
  }
  &.lg{
    @media (min-width: 960px) {
      margin-right: 10px;
      margin-left: 0px;
    }
  }
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 100px;
  padding: 7px 0;
  background-color: #db3434;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 100 11px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: 25px;
  top: 10px;
  transform: rotate(-45deg);
}
