<template>
  <v-app dark>
    <notifications
      animation-name="v-fade-right"
      classes="notification-bubble"
      group="all"
      :duration="5000"
      :closeOnClick="true"
      position="top right"
    />
    <v-navigation-drawer
      v-model="open"
      :mini-variant="$vuetify.breakpoint.name !== 'sm' && $vuetify.breakpoint.name !== 'xs' && miniVariant"
      mini-variant-width = "150"
      :permanent="$vuetify.breakpoint.name !== 'sm' && $vuetify.breakpoint.name !== 'xs'"
      app
      v-if="$store.state.keycloak && $store.state.keycloak.token"
    >
      <v-toolbar
        flat
        dark
        height="80px"
        color = "primary"
        style="justify-content: center;"
      >
        <img class="mx-auto" height="64px" width="128px" src="/static/supgo.png"/>
      </v-toolbar>
      <v-list
        nav
        dense
      >
        <v-list-item-group v-model="itemSelected" color="primary">
          <v-list-item
            :to="'/'"
            router
            exact
          >
            <v-list-item-icon>
              <v-icon>mdi-home</v-icon>
            </v-list-item-icon>
            <v-list-item-content >
              <v-list-item-title>{{$t('home')}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <div v-if="$jwt.decode(this.$store.state.keycloak.token).user_roles.find(element => element === 'supgo-api-admin')">
            <v-subheader>{{$t('admin')}}</v-subheader>
            <v-list-item
              v-for="(item, i) in filteredItemsUser"
              :to="item.to"
              :key="i"
              router
              exact
            >
              <v-list-item-icon>
                <v-icon v-html="item.icon" />
              </v-list-item-icon>
              <v-list-item-content >
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-subheader v-if="$jwt.decode(this.$store.state.keycloak.token).user_roles.find(element => element === 'supgo-api-admin')">{{$t('user')}}</v-subheader>
            <v-list-item
              v-for="item in filteredItemsAdmin"
              :to="item.to"
              :key="item.to"
              router
              exact
            >
              <v-list-item-icon>
                <v-icon v-html="item.icon" />
              </v-list-item-icon>
              <v-list-item-content >
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
          <div v-else>
            <v-list-item
              v-for="(item, i) in filteredItems"
              :to="item.to"
              :key="i"
              router
              exact
            >
              <v-list-item-icon>
                <v-icon v-html="item.icon" />
              </v-list-item-icon>
              <v-list-item-content >
                <v-list-item-title v-text="item.title"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </div>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      color = "primary"
      dark
      fixed
      app
      height="80px"
    >
      <v-app-bar-nav-icon
        @click.stop="openSidebar"
        v-if="$store.state.keycloak && $store.state.keycloak.token"
      />
      <img v-else class="mx-auto" height="64px" width="128px" src="/static/supgo.png"/>
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        to='/userDetail'
        :style="$vuetify.breakpoint.name === 'sm' || $vuetify.breakpoint.name === 'xs' ? 'padding: 0 8px' : ''"
        v-if="$store.state.keycloak && $store.state.keycloak.token"
      >
        <span :class="{'btn-account': true, 'line1': ($vuetify.breakpoint.name !== 'sm' && $vuetify.breakpoint.name !== 'xs' ? true : false )}">{{$t('myAccount')}}</span>
        <span v-if="$vuetify.breakpoint.name !== 'sm' && $vuetify.breakpoint.name !== 'xs'" class="btn-account line2"> {{`${$jwt.decode($store.state.keycloak.token).family_name} ${$jwt.decode($store.state.keycloak.token).given_name}`}}</span>
      </v-btn>
      <custom-dialog
        :okTitle="$t('send')"
        :cancelTitle="$t('cancel')"
        title="Support"
        okVariant="primary"
        @ok="sendMail"
        :ref="`Support`"
        :maxWidth="900"
      >
        <template
          v-slot:button="{on}"
        >
          <v-btn
            color="primary"
            v-on="on"
            class="mx-3"
            :style="$vuetify.breakpoint.name === 'sm' || $vuetify.breakpoint.name === 'xs' ? 'padding: 0 0; min-width: 48px' : ''"
          >
            <v-icon>
              mdi-help-circle
            </v-icon>
          </v-btn>
        </template>
        <template
          v-slot:content
        >
          <v-container>
            <form data-vv-scope="support" class="pa-5">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="mailContent.subject"
                    v-bind:label="$t('subject')"
                    :error-messages="errors.collect('support.' + $t('subject'))"
                    v-validate="'required'"
                    :data-vv-name="$t('subject')"
                  />
                </v-col>
                <v-col cols="12">
                  <v-textarea
                    v-model="mailContent.content"
                    v-bind:label="$t('content')"
                    :error-messages="errors.collect('support.' + $t('content'))"
                    v-validate="'required'"
                    :data-vv-name="$t('content')"
                    outlined
                  />
                </v-col>
              </v-row>
            </form>
          </v-container>
        </template>
      </custom-dialog>
      <v-btn
        color="primary"
        @click="logout"
        :style="$vuetify.breakpoint.name === 'sm' || $vuetify.breakpoint.name === 'xs' ? 'padding: 0 0; min-width: 48px' : ''"
        v-if="$store.state.keycloak && $store.state.keycloak.token"
      >
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      <v-btn
        color="primary"
        :style="$vuetify.breakpoint.name === 'sm' || $vuetify.breakpoint.name === 'xs' ? 'padding: 0 0; min-width: 48px' : ''"
        :to="'/login'"
        v-else
      >
        {{$t('signin')}}
      </v-btn>
    </v-app-bar>
    <v-content>
      <v-container
        grid-list-md
        v-if="($store.state.keycloak && $store.state.keycloak.token) || $route.name === 'login' || $route.name === 'home'"
      >
        <router-view/>
      </v-container>
    </v-content>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; SUPGO v1.4.0</span>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" :max-width="900">
        <template v-slot:activator="{ on }">
          <v-icon
            v-on="on"
            class="mr-2"
          >
            mdi-map-marker
          </v-icon>
        </template>
        <v-card>
          <v-card-title class="headline">{{`${$t('shop')}s`}}</v-card-title>
          <v-card-text>
            <gmap-map
              :center="center"
              :zoom="zoom"
              :style="`width:100%; height: ${$vuetify.breakpoint.name === 'sm' || $vuetify.breakpoint.name === 'xs' ? '400px' : '800px;'}`"
              :options="{
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: true
              }"
            >
              <gmap-marker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                @click="center=m.position, zoom=4"
              ></gmap-marker>
            </gmap-map>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-menu>
        <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            dark
            v-on="on"
            small
            outlined
          >
            <flag :iso="localeFlags[$i18n.locales().findIndex(element => element === $i18n.locale())]"/>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in $i18n.locales()"
            :key="item"
            @click="$i18n.set(item)
            $validator.localize(item)
            $router.go()"
          >
            <v-list-item-avatar>
              <flag :iso="localeFlags[index]"/>
            </v-list-item-avatar>
            <v-list-item-title>
              {{localeFlags[index]}}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-footer>
  </v-app>
</template>
<script>
import config from '@/config/config'
import customDialog from '@/components/templates/CustomDialog'
import shopService from '@/services/ShopService'

export default {
  components: {
    customDialog
  },
  data () {
    return {
      items: [
        { icon: 'mdi-widgets', title: `${this.$t('product')}s`, to: '/products', role: 'supgo-api-admin' },
        { icon: 'mdi-sale', title: `${this.$t('discount')}s`, to: '/promotions', role: 'supgo-api-admin' },
        { icon: 'mdi-database', title: 'Stock', to: '/stock', role: 'supgo-api-admin' },
        { icon: 'mdi-history', title: this.$t('purchaseHistory'), to: '/transactionHistory', role: 'supgo-api-admin' },
        { icon: 'mdi-tag', title: `${this.$t('sales')}`, to: '/saleStats', role: 'supgo-api-admin' },
        { icon: 'mdi-widgets', title: `${this.$t('product')}s`, to: '/allProducts', role: 'supgo-api-user' },
        { icon: 'mdi-history', title: this.$t('purchaseHistory'), to: '/transactionHistoryUser', role: 'supgo-api-user' },
        { icon: 'mdi-account-outline', title: `${this.$t('user')}s`, to: '/users', role: 'supgo-api-admin' },
        { icon: 'mdi-message', title: `${this.$t('comment')}s`, to: '/comments', role: 'supgo-api-admin' }
      ],
      zoom: 7,
      localeFlags: ['fr', 'us'],
      fixed: true,
      miniVariant: false,
      itemSelected: 0,
      open: null,
      dialog: false,
      timeout: null,
      center: {},
      markers: [],
      mailContent: {
        subject: null,
        content: null
      }
    }
  },
  computed: {
    filteredItems () {
      return this.items.filter(route => {
        if (route.role && !this.$jwt.decode(this.$store.state.keycloak.token).user_roles.find(element => element === route.role)) {
          return false
        }
        return true
      })
    },
    filteredItemsAdmin () {
      return this.items.filter(route => {
        if (route.role && route.role === 'supgo-api-admin') {
          return false
        }
        return true
      })
    },
    filteredItemsUser () {
      return this.items.filter(route => {
        if (route.role && route.role === 'supgo-api-user') {
          return false
        }
        return true
      })
    }
  },
  methods: {
    async getStore () {
      try {
        let resShops = await shopService.index()
        resShops.data.forEach(element => {
          this.markers.push({ position: {
            lat: Number(element.latitude, 10),
            lng: Number(element.longitude, 10)
          }})
        })
      } catch (error) {
        console.error(error)
      }
    },
    geolocate () {
      this.center = {
        lat: 48.866667,
        lng: 2.333333
      }
    },
    async logout () {
      var url = `${config.keycloakURL}/auth/realms/SupGo/protocol/openid-connect/logout?redirect_uri=${encodeURIComponent(`${config.frontURL}/`)}`
      window.location.href = url
      this.$store.dispatch('keycloak', null)
    },
    openSidebar () {
      if (this.$vuetify.breakpoint.name !== 'sm' && this.$vuetify.breakpoint.name !== 'xs') {
        this.open = !this.open
        this.miniVariant = !this.miniVariant
      } else {
        this.open = !this.open
      }
    },
    sendMail () {
      window.location.href = `mailto:${config.mailSupport}?subject=${this.mailContent.subject}&body=${this.mailContent.content}%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A------------ Technical Details (Do not remove) ------------%0D%0A%0D%0ABrowser : ${navigator.userAgent}%0D%0A`
    }
  },
  mounted () {
    if (this.$vuetify.breakpoint.name !== 'sm' && this.$vuetify.breakpoint.name !== 'xs') {
      this.open = true
    }
    this.getStore()
    this.geolocate()
  }
}
</script>
